node-red/flows.json
[{"id":"cf6a526e.055b6","type":"tab","label":"Global Variables","disabled":false,"info":""},{"id":"75eae2c9.deadac","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"ad90a8ba.6d97d8","type":"tab","label":"Reception","disabled":false,"info":""},{"id":"c7fdb6fd.cccef8","type":"tab","label":"Open Office","disabled":false,"info":""},{"id":"850e8c17.34d1f","type":"tab","label":"Mini Conf 1","disabled":false,"info":""},{"id":"a2da7c64.323c4","type":"tab","label":"Mini Conf 2","disabled":false,"info":""},{"id":"7660a063.fd4e3","type":"tab","label":"Office 2","disabled":false,"info":""},{"id":"bf0d1815.edd6a8","type":"tab","label":"Storage Room","disabled":false,"info":""},{"id":"bfff68bb.836ff8","type":"tab","label":"Bathrooms","disabled":false,"info":""},{"id":"f0d3620b.6fb35","type":"tab","label":"Closet & Stairwell","disabled":false,"info":""},{"id":"2eb397bc.338c08","type":"tab","label":"Test Daylight Harvesting","disabled":false,"info":""},{"id":"2fe29522.1454fa","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]},{"x":215,"y":30,"wires":[]}],"env":[{"name":"var1","type":"str","value":""},{"name":"var2","type":"num","value":""}],"color":"#DDAA99","status":{"x":270,"y":30,"wires":[]}},{"id":"faca3528.989e88","type":"subflow","name":"Subflow 2","info":"","category":"","in":[{"x":80,"y":380,"wires":[{"id":"21d6b67e.2cec2a"}]}],"out":[{"x":620,"y":380,"wires":[{"id":"21d6b67e.2cec2a","port":0}]}],"env":[{"name":"light_entity","type":"str","value":"","ui":{"label":{"en-US":"Light Entity"},"type":"input","opts":{"types":["str"]}}},{"name":"Occupancy Sensor","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"Luminance Sensor","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"evening_brightness","type":"num","value":"75","ui":{"icon":"font-awesome/fa-adjust","label":{"en-US":"Evening Brightness (%)"},"type":"spinner"}},{"name":"latenight_brightness","type":"num","value":"40","ui":{"icon":"font-awesome/fa-adjust","label":{"en-US":"Latenight Brightness (%)"},"type":"spinner"}},{"name":"occupancy_timer","type":"num","value":"25","ui":{"icon":"font-awesome/fa-clock-o","label":{"en-US":"Occupancy Timer (min)"},"type":"spinner"}}],"color":"#DDAA99"},{"id":"d7a00ba7.f288a8","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"fa2fd8c2.e5bd18","type":"server-state-changed","z":"bfff68bb.836ff8","name":"MS12 Mens' BR Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms12_motion_menbr","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":240,"y":480,"wires":[["fb651fff.dd581"]]},{"id":"fb651fff.dd581","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":480,"wires":[["a770a212.61675","84372a5e.7509d8"],["84372a5e.7509d8"]]},{"id":"a770a212.61675","type":"api-current-state","z":"bfff68bb.836ff8","name":"Men's BR Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw08_mensbr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":720,"y":420,"wires":[["79661984.4fd4f8"]]},{"id":"fcc24fe6.53c0c","type":"api-call-service","z":"bfff68bb.836ff8","name":"Men's BR Dimmer on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw08_mensbr","data":"{\"entity_id\":\"light.dimmer_sw08_mensbr\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":400,"wires":[[]]},{"id":"201a7cc6.b6fc04","type":"inject","z":"bfff68bb.836ff8","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":240,"y":420,"wires":[["fb651fff.dd581"]]},{"id":"bd6d117d.47e32","type":"stoptimer","z":"bfff68bb.836ff8","duration":"12","units":"Minute","payloadtype":"num","payloadval":"0","name":"12 min","x":250,"y":120,"wires":[["831dc221.00c8a"],[]]},{"id":"f535d46d.c9e748","type":"comment","z":"bfff68bb.836ff8","name":"Bathroom Timer Off","info":"","x":250,"y":80,"wires":[]},{"id":"831dc221.00c8a","type":"link out","z":"bfff68bb.836ff8","name":"","links":["ee4a8248.fd621","f94b14a9.10f808","b561114b.d2a33"],"x":335,"y":120,"wires":[]},{"id":"662707de.c59de8","type":"link in","z":"bfff68bb.836ff8","name":"","links":["84372a5e.7509d8","4787b537.c4217c","efc6662c.cc5a38"],"x":155,"y":120,"wires":[["bd6d117d.47e32"]]},{"id":"84372a5e.7509d8","type":"link out","z":"bfff68bb.836ff8","name":"","links":["662707de.c59de8"],"x":575,"y":520,"wires":[]},{"id":"41d9da93.199394","type":"comment","z":"bfff68bb.836ff8","name":"Bathroom Timer Off","info":"","x":670,"y":540,"wires":[]},{"id":"ee4a8248.fd621","type":"link in","z":"bfff68bb.836ff8","name":"","links":["831dc221.00c8a"],"x":755,"y":520,"wires":[["770fea6e.8df244"]]},{"id":"8869698d.233078","type":"api-call-service","z":"bfff68bb.836ff8","name":"Men's BR Dimmer Off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw08_mensbr","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":520,"wires":[[]]},{"id":"276480c4.c5d54","type":"server-state-changed","z":"bfff68bb.836ff8","name":"MS11 Womens' BR Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms11_motion_womenbr","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":920,"wires":[["92f833f4.d254c"]]},{"id":"92f833f4.d254c","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":920,"wires":[["810fe269.a5078","4787b537.c4217c"],["4787b537.c4217c"]]},{"id":"810fe269.a5078","type":"api-current-state","z":"bfff68bb.836ff8","name":"Women's BR Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw09_womensbr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":860,"wires":[["2160c31.6e1b73c"]]},{"id":"2dde587d.252218","type":"api-call-service","z":"bfff68bb.836ff8","name":"Women's BR Dimmer On 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw09_womensbr","data":"{\"entity_id\":\"light.dimmer_sw09_womensbr\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":860,"wires":[[]]},{"id":"994714b.81a5fe8","type":"inject","z":"bfff68bb.836ff8","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":240,"y":860,"wires":[["92f833f4.d254c"]]},{"id":"4787b537.c4217c","type":"link out","z":"bfff68bb.836ff8","name":"","links":["662707de.c59de8"],"x":595,"y":960,"wires":[]},{"id":"ea49d6d2.43ba18","type":"comment","z":"bfff68bb.836ff8","name":"Bathroom Occupancy Timer","info":"","x":680,"y":980,"wires":[]},{"id":"f94b14a9.10f808","type":"link in","z":"bfff68bb.836ff8","name":"","links":["831dc221.00c8a"],"x":755,"y":960,"wires":[["561c0439.6643ec"]]},{"id":"fb6783a.59b178","type":"api-call-service","z":"bfff68bb.836ff8","name":"Women's BR Dimmer Off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw09_womensbr","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":960,"wires":[[]]},{"id":"75b83b5.04efcc4","type":"comment","z":"bfff68bb.836ff8","name":"Men's Bathroom","info":"","x":240,"y":380,"wires":[]},{"id":"d0f519d4.0c6328","type":"comment","z":"bfff68bb.836ff8","name":"Women's Bathroom","info":"","x":210,"y":800,"wires":[]},{"id":"cb8ead27.1d97f","type":"comment","z":"75eae2c9.deadac","name":"Kitchen & Dining","info":"","x":180,"y":720,"wires":[]},{"id":"1a9ca7df.da2138","type":"server-state-changed","z":"75eae2c9.deadac","name":"MS01 Kitchen Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms01_motion_kitchen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":820,"wires":[["82e0965d.3983f8","492444.033bbbbc","ebc88a82.0e1a38"]]},{"id":"654b1f0c.3982b","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1060,"wires":[["1c94c567.b1137b","6310d4e9.68748c","fae8dfe5.5bd3f"],["fae8dfe5.5bd3f"]]},{"id":"8423de3.5388f2","type":"inject","z":"75eae2c9.deadac","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":180,"y":780,"wires":[["82e0965d.3983f8","492444.033bbbbc","ebc88a82.0e1a38"]]},{"id":"82e0965d.3983f8","type":"time-range-switch","z":"75eae2c9.deadac","name":"","lat":"37.81814","lon":"-122.23196","startTime":"dusk","endTime":"01:00:00","startOffset":0,"endOffset":0,"x":480,"y":800,"wires":[["a6c6d9c5.1ffc18"],[]]},{"id":"492444.033bbbbc","type":"time-range-switch","z":"75eae2c9.deadac","name":"","lat":"37.81814","lon":"-122.23196","startTime":"01:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":490,"y":1060,"wires":[["654b1f0c.3982b"],[]]},{"id":"a6c6d9c5.1ffc18","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":800,"wires":[["30fd30a6.74665","6d6e6234.00188c","91eba75c.1617f8"],["91eba75c.1617f8"]]},{"id":"2f37dcee.ce88c4","type":"api-call-service","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw_06_diningroom_overhead","data":"{\"entity_id\":\"light.dimmer_sw_06_diningroom_overhead\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1415,"y":677,"wires":[[]]},{"id":"6336144f.64beec","type":"api-call-service","z":"75eae2c9.deadac","name":"Dining Linear Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dining_virtual_light","data":"{\"entity_id\":\"light.dining_virtual_light\",\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":720,"wires":[[]]},{"id":"770fea6e.8df244","type":"api-current-state","z":"bfff68bb.836ff8","name":"Men's BR Occupancy Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms12_motion_menbr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":520,"wires":[["1ef3d109.3458bf"]]},{"id":"1ef3d109.3458bf","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":520,"wires":[["8869698d.233078"],[]]},{"id":"561c0439.6643ec","type":"api-current-state","z":"bfff68bb.836ff8","name":"Men's BR Occupancy Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms11_motion_womenbr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":960,"wires":[["ce88eed6.fa395"]]},{"id":"ce88eed6.fa395","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":960,"wires":[[],["77f810e.efe55f"]]},{"id":"77f810e.efe55f","type":"api-current-state","z":"bfff68bb.836ff8","name":"Women's BR Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw09_womensbr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1360,"y":960,"wires":[["65dc1214.7e3c4c"]]},{"id":"79661984.4fd4f8","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":420,"wires":[[],["fcc24fe6.53c0c"]]},{"id":"2160c31.6e1b73c","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":860,"wires":[[],["2dde587d.252218"]]},{"id":"65dc1214.7e3c4c","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":960,"wires":[["fb6783a.59b178"],[]]},{"id":"30fd30a6.74665","type":"api-current-state","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_06_diningroom_overhead","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":980,"y":680,"wires":[["efe46fb7.249e4"]]},{"id":"efe46fb7.249e4","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":680,"wires":[[],["2f37dcee.ce88c4"]]},{"id":"6d6e6234.00188c","type":"api-current-state","z":"75eae2c9.deadac","name":"Dining Linear Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dining_virtual_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":980,"y":720,"wires":[["38a71d97.8c0b82"]]},{"id":"38a71d97.8c0b82","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":720,"wires":[[],["6336144f.64beec"]]},{"id":"20835fe6.93492","type":"api-current-state","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_06_diningroom_overhead","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1140,"y":800,"wires":[["247d1fdb.0072f"]]},{"id":"6a1578a0.91df38","type":"api-current-state","z":"75eae2c9.deadac","name":"Dining Linear Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dining_virtual_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1140,"y":840,"wires":[["2db2a556.3d52fa"]]},{"id":"247d1fdb.0072f","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":800,"wires":[["4078e0df.f5685"],[]]},{"id":"2db2a556.3d52fa","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":840,"wires":[["b11a52bd.87ce2"],[]]},{"id":"b11a52bd.87ce2","type":"api-call-service","z":"75eae2c9.deadac","name":"Dining Linear Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dining_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1580,"y":840,"wires":[[]]},{"id":"4078e0df.f5685","type":"api-call-service","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw_06_diningroom_overhead","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1585,"y":797,"wires":[[]]},{"id":"b0bf44ec.6d8248","type":"api-call-service","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights on 50","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw_06_diningroom_overhead","data":"{\"entity_id\":\"light.dimmer_sw_06_diningroom_overhead\",\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":960,"wires":[[]]},{"id":"fb5e4492.d9e998","type":"api-call-service","z":"75eae2c9.deadac","name":"Dining Linear Lights on 50","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dining_virtual_light","data":"{\"entity_id\":\"light.dining_virtual_light\",\"brightness\":128}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1415,"y":1003,"wires":[[]]},{"id":"1c94c567.b1137b","type":"api-current-state","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_06_diningroom_overhead","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":985,"y":963,"wires":[["be1d888.a695a78"]]},{"id":"be1d888.a695a78","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1215,"y":963,"wires":[[],["b0bf44ec.6d8248"]]},{"id":"6310d4e9.68748c","type":"api-current-state","z":"75eae2c9.deadac","name":"Dining Linear Lights","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dining_virtual_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":965,"y":1003,"wires":[["7f6e582f.bf51e8"]]},{"id":"7f6e582f.bf51e8","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1215,"y":1003,"wires":[[],["fb5e4492.d9e998"]]},{"id":"482292a9.6ffdfc","type":"api-current-state","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_06_diningroom_overhead","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1145,"y":1083,"wires":[["adb01055.84cd4"]]},{"id":"cf0bfff0.bf518","type":"api-current-state","z":"75eae2c9.deadac","name":"Dining Linear Lights","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dining_virtual_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1125,"y":1123,"wires":[["5d027880.164ad8"]]},{"id":"adb01055.84cd4","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1395,"y":1083,"wires":[["6cc657ee.053388"],[]]},{"id":"5d027880.164ad8","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1395,"y":1123,"wires":[["c77c9e6f.d59f7"],[]]},{"id":"c77c9e6f.d59f7","type":"api-call-service","z":"75eae2c9.deadac","name":"Dining Linear Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dining_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1585,"y":1123,"wires":[[]]},{"id":"6cc657ee.053388","type":"api-call-service","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw_06_diningroom_overhead","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1590,"y":1080,"wires":[[]]},{"id":"a79f3240.596bf","type":"stoptimer","z":"75eae2c9.deadac","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"25 Mins","x":220,"y":120,"wires":[["e64e16e2.23feb8"],[]]},{"id":"48b84780.277fd8","type":"link in","z":"75eae2c9.deadac","name":"","links":["92016bbb.5c5328","91eba75c.1617f8","fae8dfe5.5bd3f","e609396c.62da98","ef7caa05.3f98b8"],"x":115,"y":120,"wires":[["a79f3240.596bf"]]},{"id":"e64e16e2.23feb8","type":"link out","z":"75eae2c9.deadac","name":"","links":["e70e1352.89a13","227b96e7.6a72ca","4c3c3777.54c3f8","1da13241.5c947e","68d4768f.986da8"],"x":315,"y":120,"wires":[]},{"id":"227b96e7.6a72ca","type":"link in","z":"75eae2c9.deadac","name":"","links":["e64e16e2.23feb8"],"x":975,"y":820,"wires":[["20835fe6.93492","6a1578a0.91df38"]]},{"id":"91eba75c.1617f8","type":"link out","z":"75eae2c9.deadac","name":"","links":["48b84780.277fd8"],"x":815,"y":820,"wires":[]},{"id":"b3137e01.53192","type":"comment","z":"75eae2c9.deadac","name":"Kitchen Timer Off","info":"","x":890,"y":800,"wires":[]},{"id":"4c3c3777.54c3f8","type":"link in","z":"75eae2c9.deadac","name":"","links":["e64e16e2.23feb8"],"x":975,"y":1100,"wires":[["482292a9.6ffdfc","cf0bfff0.bf518"]]},{"id":"fae8dfe5.5bd3f","type":"link out","z":"75eae2c9.deadac","name":"","links":["48b84780.277fd8"],"x":815,"y":1100,"wires":[]},{"id":"716b4790.0e7d48","type":"comment","z":"75eae2c9.deadac","name":"Kitchen Timer Off","info":"","x":890,"y":1080,"wires":[]},{"id":"32f0cc61.565944","type":"comment","z":"75eae2c9.deadac","name":"Kitchen Timer Off","info":"","x":220,"y":60,"wires":[]},{"id":"f9ce581e.a75c18","type":"comment","z":"ad90a8ba.6d97d8","name":"Reception","info":"","x":200,"y":860,"wires":[]},{"id":"a0fbbc7f.3151d","type":"server-state-changed","z":"ad90a8ba.6d97d8","name":"MS02 Reception Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms02_motion_reception","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":960,"wires":[["cc067a58.686068","b75c0098.a7487","ac7a56dc.2dfde8"]]},{"id":"5bc5f806.849ba8","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1200,"wires":[["d75a946a.ca93b8","f4151db7.ea05a","c200c15c.a3df8"],["d75a946a.ca93b8"]]},{"id":"d7696c58.d741e","type":"inject","z":"ad90a8ba.6d97d8","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":200,"y":920,"wires":[["cc067a58.686068","b75c0098.a7487","ac7a56dc.2dfde8"]]},{"id":"cc067a58.686068","type":"time-range-switch","z":"ad90a8ba.6d97d8","name":"","lat":"37.81814","lon":"-122.23196","startTime":"dusk","endTime":"01:00:00","startOffset":0,"endOffset":0,"x":500,"y":940,"wires":[["658c763e.46d678"],[]]},{"id":"b75c0098.a7487","type":"time-range-switch","z":"ad90a8ba.6d97d8","name":"","lat":"37.81814","lon":"-122.23196","startTime":"01:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":510,"y":1200,"wires":[["5bc5f806.849ba8"],[]]},{"id":"658c763e.46d678","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":940,"wires":[["e60bf5be.cbb308","326fb43f.4338ac","c9435474.cdb758"],["c9435474.cdb758"]]},{"id":"e60bf5be.cbb308","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_02_reception_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1010,"y":820,"wires":[["cb5e832f.b7548"]]},{"id":"cb5e832f.b7548","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":820,"wires":[[],["9e408359.35373"]]},{"id":"326fb43f.4338ac","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw04_reception_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1010,"y":860,"wires":[["187a51c3.7dba2e"]]},{"id":"187a51c3.7dba2e","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":860,"wires":[[],["9dae1ee8.b3c96"]]},{"id":"76af08b9.ff4188","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_02_reception_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1170,"y":940,"wires":[["26b45a58.7bc076"]]},{"id":"7bca6e2a.c235d","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw04_reception_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1170,"y":980,"wires":[["dd2fd900.c657b8"]]},{"id":"26b45a58.7bc076","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":940,"wires":[["a3eeaa32.0dc518"],[]]},{"id":"dd2fd900.c657b8","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":980,"wires":[["53a83c84.b6d294"],[]]},{"id":"df838940.64d758","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":1100,"wires":[[],["3ca50f0e.1793"]]},{"id":"f87269a1.5f2348","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":1140,"wires":[[],["e92a58f0.366568"]]},{"id":"db8968e.bc99998","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1415,"y":1223,"wires":[["d864e771.f32138"],[]]},{"id":"c4b34c7c.e7e67","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1415,"y":1263,"wires":[["b8eb9653.7b0848"],[]]},{"id":"7a20fe5a.e6225","type":"stoptimer","z":"ad90a8ba.6d97d8","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"25 Mins","x":280,"y":180,"wires":[["6a52b3b8.7af54c"],[]]},{"id":"cb80b108.56fe9","type":"link in","z":"ad90a8ba.6d97d8","name":"","links":["c0c6c896.e31dd8","c9435474.cdb758","d75a946a.ca93b8","9e9ea775.523368","f8cfefc7.e3f8d"],"x":175,"y":180,"wires":[["7a20fe5a.e6225"]]},{"id":"6a52b3b8.7af54c","type":"link out","z":"ad90a8ba.6d97d8","name":"","links":["e1c5cc80.4d77c","a175d867.fc2cd8","9337a256.fefcc","f6528d49.10a3d","44de0ae6.af9ca4"],"x":395,"y":180,"wires":[]},{"id":"a175d867.fc2cd8","type":"link in","z":"ad90a8ba.6d97d8","name":"","links":["6a52b3b8.7af54c","38b26b6.db55094"],"x":995,"y":960,"wires":[["76af08b9.ff4188","7bca6e2a.c235d"]]},{"id":"c9435474.cdb758","type":"link out","z":"ad90a8ba.6d97d8","name":"","links":["cb80b108.56fe9","a37ea1ce.1b3a8"],"x":835,"y":960,"wires":[]},{"id":"713db032.a4d26","type":"comment","z":"ad90a8ba.6d97d8","name":"Reception Timer Off","info":"","x":920,"y":940,"wires":[]},{"id":"9337a256.fefcc","type":"link in","z":"ad90a8ba.6d97d8","name":"","links":["6a52b3b8.7af54c","38b26b6.db55094"],"x":995,"y":1240,"wires":[["ea8af304.e4886","541576e4.973f18"]]},{"id":"d75a946a.ca93b8","type":"link out","z":"ad90a8ba.6d97d8","name":"","links":["cb80b108.56fe9","a37ea1ce.1b3a8"],"x":835,"y":1240,"wires":[]},{"id":"7ef0a475.bc6fec","type":"comment","z":"ad90a8ba.6d97d8","name":"Reception Timer Off","info":"","x":920,"y":1220,"wires":[]},{"id":"942cc27b.79209","type":"comment","z":"ad90a8ba.6d97d8","name":"Reception Timer Off","info":"","x":270,"y":120,"wires":[]},{"id":"9dae1ee8.b3c96","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw04_reception_2","data":"{\"entity_id\":\"light.dimmer_sw04_reception_2\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":860,"wires":[[]]},{"id":"9e408359.35373","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw_02_reception_1","data":"{\"entity_id\":\"light.dimmer_sw_02_reception_1\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":820,"wires":[[]]},{"id":"585e7691.b45a88","type":"comment","z":"ad90a8ba.6d97d8","name":"Evening","info":"","x":1220,"y":900,"wires":[]},{"id":"5117d059.e9031","type":"comment","z":"ad90a8ba.6d97d8","name":"Latenight","info":"","x":1240,"y":1180,"wires":[]},{"id":"38d90eb5.ad1ad2","type":"comment","z":"75eae2c9.deadac","name":"Evening","info":"","x":1210,"y":760,"wires":[]},{"id":"9e1d9687.89cf38","type":"comment","z":"75eae2c9.deadac","name":"Latenight","info":"","x":1220,"y":1040,"wires":[]},{"id":"53a83c84.b6d294","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw04_reception_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":980,"wires":[[]]},{"id":"a3eeaa32.0dc518","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw_02_reception_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":940,"wires":[[]]},{"id":"f4151db7.ea05a","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_02_reception_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1010,"y":1100,"wires":[["df838940.64d758"]]},{"id":"c200c15c.a3df8","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw04_reception_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1010,"y":1140,"wires":[["f87269a1.5f2348"]]},{"id":"e92a58f0.366568","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw04_reception_2","data":"{\"entity_id\":\"light.dimmer_sw04_reception_2\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":1140,"wires":[[]]},{"id":"3ca50f0e.1793","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw_02_reception_1","data":"{\"entity_id\":\"light.dimmer_sw_02_reception_1\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":1100,"wires":[[]]},{"id":"b8eb9653.7b0848","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw04_reception_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1260,"wires":[[]]},{"id":"d864e771.f32138","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw_02_reception_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1220,"wires":[[]]},{"id":"ea8af304.e4886","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_02_reception_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":1220,"wires":[["db8968e.bc99998"]]},{"id":"541576e4.973f18","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw04_reception_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":1260,"wires":[["c4b34c7c.e7e67"]]},{"id":"2fdb2190.4ed1de","type":"comment","z":"7660a063.fd4e3","name":"Office 2","info":"","x":170,"y":800,"wires":[]},{"id":"aa9249d8.8cff18","type":"server-state-changed","z":"7660a063.fd4e3","name":"MS9 Office 2 Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms09_motion_office2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":900,"wires":[["71e543e8.a0e39c","870541d7.7afe9","c0f61319.8dae"]]},{"id":"436d0b8d.04d594","type":"switch","z":"7660a063.fd4e3","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1140,"wires":[["dd12ba5a.efe168","7f8bfcc9.961494"],["dd12ba5a.efe168"]]},{"id":"988d50e3.4c3f6","type":"inject","z":"7660a063.fd4e3","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":200,"y":860,"wires":[["71e543e8.a0e39c","870541d7.7afe9","c0f61319.8dae"]]},{"id":"71e543e8.a0e39c","type":"time-range-switch","z":"7660a063.fd4e3","name":"","lat":"37.81814","lon":"-122.23196","startTime":"dusk","endTime":"01:00:00","startOffset":0,"endOffset":0,"x":500,"y":880,"wires":[["4c396f76.65f2c"],[]]},{"id":"870541d7.7afe9","type":"time-range-switch","z":"7660a063.fd4e3","name":"","lat":"37.81814","lon":"-122.23196","startTime":"01:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":510,"y":1140,"wires":[["436d0b8d.04d594"],[]]},{"id":"4c396f76.65f2c","type":"switch","z":"7660a063.fd4e3","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":880,"wires":[["ce2e3770.c276f8","53383d37.a61444"],["53383d37.a61444"]]},{"id":"ce2e3770.c276f8","type":"api-current-state","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw12_office_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1005,"y":783,"wires":[["5e7bd084.06886"]]},{"id":"5e7bd084.06886","type":"switch","z":"7660a063.fd4e3","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":780,"wires":[[],["379d923.bf2966e"]]},{"id":"f15046b8.762c58","type":"switch","z":"7660a063.fd4e3","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":900,"wires":[["e5e67276.13f35"],[]]},{"id":"b13de62f.3307a8","type":"switch","z":"7660a063.fd4e3","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1235,"y":1063,"wires":[[],["ab59414c.20e3b"]]},{"id":"2c6c8462.ad85fc","type":"switch","z":"7660a063.fd4e3","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":1180,"wires":[["e5de6547.1d0098"],[]]},{"id":"81618de2.42acd","type":"stoptimer","z":"7660a063.fd4e3","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"25 Mins","x":240,"y":160,"wires":[["a52a1d83.5933d"],[]]},{"id":"e5348c8c.5c1b","type":"link in","z":"7660a063.fd4e3","name":"","links":["4d4536d2.b2cc68","53383d37.a61444","dd12ba5a.efe168","e609396c.62da98","bd89bd70.d85ec"],"x":135,"y":160,"wires":[["81618de2.42acd"]]},{"id":"a52a1d83.5933d","type":"link out","z":"7660a063.fd4e3","name":"","links":["816f3183.61922","2f1ae50a.d41e8a","17fa2d47.81c413","1da13241.5c947e","e4a6342d.b3bdd8"],"x":335,"y":160,"wires":[]},{"id":"2f1ae50a.d41e8a","type":"link in","z":"7660a063.fd4e3","name":"","links":["a52a1d83.5933d"],"x":995,"y":900,"wires":[["d29c24fc.ae16b8"]]},{"id":"53383d37.a61444","type":"link out","z":"7660a063.fd4e3","name":"","links":["e5348c8c.5c1b"],"x":835,"y":900,"wires":[]},{"id":"e78e9537.715778","type":"comment","z":"7660a063.fd4e3","name":"Office 2 Timer Off","info":"","x":910,"y":880,"wires":[]},{"id":"17fa2d47.81c413","type":"link in","z":"7660a063.fd4e3","name":"","links":["a52a1d83.5933d"],"x":995,"y":1180,"wires":[["db5200fe.7a868"]]},{"id":"dd12ba5a.efe168","type":"link out","z":"7660a063.fd4e3","name":"","links":["e5348c8c.5c1b"],"x":835,"y":1180,"wires":[]},{"id":"3571d7ff.fcd968","type":"comment","z":"7660a063.fd4e3","name":"Office 2 Timer Off","info":"","x":910,"y":1160,"wires":[]},{"id":"a4a31a99.db62e8","type":"comment","z":"7660a063.fd4e3","name":"Office 2 Timer Off","info":"","x":240,"y":100,"wires":[]},{"id":"6ee48554.b1440c","type":"comment","z":"7660a063.fd4e3","name":"Evening","info":"","x":1230,"y":840,"wires":[]},{"id":"135be20.0c7611e","type":"comment","z":"7660a063.fd4e3","name":"Latenight","info":"","x":1240,"y":1120,"wires":[]},{"id":"379d923.bf2966e","type":"api-call-service","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw12_office_2","data":"{\"entity_id\":\"light.dimmer_sw12_office_2\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1440,"y":780,"wires":[[]]},{"id":"d29c24fc.ae16b8","type":"api-current-state","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw12_office_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1180,"y":900,"wires":[["f15046b8.762c58"]]},{"id":"e5e67276.13f35","type":"api-call-service","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw12_office_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":900,"wires":[[]]},{"id":"7f8bfcc9.961494","type":"api-current-state","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw12_office_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1000,"y":1060,"wires":[["b13de62f.3307a8"]]},{"id":"ab59414c.20e3b","type":"api-call-service","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights on 40","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw12_office_2","data":"{\"entity_id\":\"light.dimmer_sw12_office_2\",\"brightness_pct\":40}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1440,"y":1060,"wires":[[]]},{"id":"db5200fe.7a868","type":"api-current-state","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw12_office_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1180,"y":1180,"wires":[["2c6c8462.ad85fc"]]},{"id":"e5de6547.1d0098","type":"api-call-service","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw12_office_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":1180,"wires":[[]]},{"id":"caf7231a.4754c","type":"comment","z":"850e8c17.34d1f","name":"Mini Conf 1","info":"","x":210,"y":520,"wires":[]},{"id":"c4a63ce9.42dc2","type":"server-state-changed","z":"850e8c17.34d1f","name":"MS7 Mini Conf 1 Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms07_motion_miniconf1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":620,"wires":[["e01bdbda.885be8","8712a1d3.54c29","ab242798.afb838"]]},{"id":"834b411a.b168a","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":860,"wires":[["7c110828.b76948","3514d2c6.98bd5e"],["7c110828.b76948"]]},{"id":"8e64a793.858eb8","type":"inject","z":"850e8c17.34d1f","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":220,"y":580,"wires":[["e01bdbda.885be8","8712a1d3.54c29","ab242798.afb838"]]},{"id":"e01bdbda.885be8","type":"time-range-switch","z":"850e8c17.34d1f","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":520,"y":400,"wires":[["8c7672f7.baca7"],[]]},{"id":"8712a1d3.54c29","type":"time-range-switch","z":"850e8c17.34d1f","name":"","lat":"37.81814","lon":"-122.23196","startTime":"dusk","endTime":"01:00:00","startOffset":0,"endOffset":0,"x":520,"y":600,"wires":[["5cf18ee2.314ba"],[]]},{"id":"ab242798.afb838","type":"time-range-switch","z":"850e8c17.34d1f","name":"","lat":"37.81814","lon":"-122.23196","startTime":"01:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":530,"y":860,"wires":[["834b411a.b168a"],[]]},{"id":"5cf18ee2.314ba","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":600,"wires":[["65fefaae.d7a664","d6392016.8fcd"],["d6392016.8fcd"]]},{"id":"8c7672f7.baca7","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":400,"wires":[["73c3b947.1496a8","60390143.567b9"],["60390143.567b9"]]},{"id":"73c3b947.1496a8","type":"api-current-state","z":"850e8c17.34d1f","name":"LS1 Reception Lux","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls01_illuminance_reception","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":240,"wires":[["d7e13e6.89d10c"]]},{"id":"d7e13e6.89d10c","type":"switch","z":"850e8c17.34d1f","name":"Lux","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1500","vt":"num"},{"t":"btwn","v":"1500","vt":"num","v2":"800","v2t":"num"},{"t":"lt","v":"800","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1670,"y":240,"wires":[["22b9f22d.f5b8de"],["8ea67ff9.3df8a"],["afe0a4ef.1c7928"]]},{"id":"65fefaae.d7a664","type":"api-current-state","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw10_miniconf_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1035,"y":503,"wires":[["38ab8ec6.5e4bf2"]]},{"id":"38ab8ec6.5e4bf2","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":500,"wires":[[],["9234cd7c.2042a"]]},{"id":"887b31aa.d45b9","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":620,"wires":[["21dcd558.59ffca"],[]]},{"id":"de85d8dc.cbfa18","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1255,"y":783,"wires":[[],["e469fff4.1b186"]]},{"id":"4cc9a235.21f66c","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":900,"wires":[["1c6e19da.54ef76"],[]]},{"id":"1bb0ef14.de08a1","type":"stoptimer","z":"850e8c17.34d1f","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"25 Mins","x":260,"y":160,"wires":[["1e05f66d.44554a"],[]]},{"id":"338420ca.c7088","type":"link in","z":"850e8c17.34d1f","name":"","links":["60390143.567b9","d6392016.8fcd","7c110828.b76948","e609396c.62da98"],"x":155,"y":160,"wires":[["1bb0ef14.de08a1"]]},{"id":"1e05f66d.44554a","type":"link out","z":"850e8c17.34d1f","name":"","links":["df67cde5.ecb33","1ca16d7b.499703","8da9d77c.d5c7a8","1da13241.5c947e"],"x":355,"y":160,"wires":[]},{"id":"df67cde5.ecb33","type":"link in","z":"850e8c17.34d1f","name":"","links":["1e05f66d.44554a"],"x":1035,"y":380,"wires":[["1f0f6b12.4c4965"]]},{"id":"60390143.567b9","type":"link out","z":"850e8c17.34d1f","name":"","links":["338420ca.c7088"],"x":875,"y":380,"wires":[]},{"id":"c1ab20fe.29bcb","type":"comment","z":"850e8c17.34d1f","name":"Mini Conf 1 Timer Off","info":"","x":970,"y":360,"wires":[]},{"id":"1ca16d7b.499703","type":"link in","z":"850e8c17.34d1f","name":"","links":["1e05f66d.44554a"],"x":1015,"y":620,"wires":[["1e51cf2a.e1c261"]]},{"id":"d6392016.8fcd","type":"link out","z":"850e8c17.34d1f","name":"","links":["338420ca.c7088"],"x":855,"y":620,"wires":[]},{"id":"e5a1565e.8d5b38","type":"comment","z":"850e8c17.34d1f","name":"Mini Conf 1 Timer Off","info":"","x":950,"y":600,"wires":[]},{"id":"8da9d77c.d5c7a8","type":"link in","z":"850e8c17.34d1f","name":"","links":["1e05f66d.44554a"],"x":1015,"y":900,"wires":[["d70a6338.a5ac5"]]},{"id":"7c110828.b76948","type":"link out","z":"850e8c17.34d1f","name":"","links":["338420ca.c7088"],"x":855,"y":900,"wires":[]},{"id":"ae5526c0.2cad28","type":"comment","z":"850e8c17.34d1f","name":"Mini Conf 1 Timer Off","info":"","x":950,"y":880,"wires":[]},{"id":"bfae38dc.155048","type":"comment","z":"850e8c17.34d1f","name":"Mini Conf 1 Timer Off","info":"","x":280,"y":100,"wires":[]},{"id":"3c3f825c.4cea4e","type":"comment","z":"850e8c17.34d1f","name":"Daytime","info":"","x":1300,"y":240,"wires":[]},{"id":"243a3150.3359de","type":"comment","z":"850e8c17.34d1f","name":"Evening","info":"","x":1250,"y":560,"wires":[]},{"id":"100fe011.04ae3","type":"comment","z":"850e8c17.34d1f","name":"Latenight","info":"","x":1260,"y":840,"wires":[]},{"id":"22b9f22d.f5b8de","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights on 50","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw10_miniconf_1","data":"{\"entity_id\":\"light.dimmer_sw10_miniconf_1\",\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":180,"wires":[[]]},{"id":"8ea67ff9.3df8a","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw10_miniconf_1","data":"{\"entity_id\":\"light.dimmer_sw10_miniconf_1\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":240,"wires":[[]]},{"id":"afe0a4ef.1c7928","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw10_miniconf_1","data":"{\"entity_id\":\"light.dimmer_sw10_miniconf_1\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":300,"wires":[[]]},{"id":"1f0f6b12.4c4965","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights on 25","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw10_miniconf_1","data":"{\"entity_id\":\"light.dimmer_sw10_miniconf_1\",\"brightness_pct\":25}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":380,"wires":[[]]},{"id":"1e51cf2a.e1c261","type":"api-current-state","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw10_miniconf_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1210,"y":620,"wires":[["887b31aa.d45b9"]]},{"id":"3514d2c6.98bd5e","type":"api-current-state","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw10_miniconf_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1010,"y":780,"wires":[["de85d8dc.cbfa18"]]},{"id":"9234cd7c.2042a","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw10_miniconf_1","data":"{\"entity_id\":\"light.dimmer_sw10_miniconf_1\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":500,"wires":[[]]},{"id":"21dcd558.59ffca","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw10_miniconf_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1640,"y":620,"wires":[[]]},{"id":"e469fff4.1b186","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights on 40","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw10_miniconf_1","data":"{\"entity_id\":\"light.dimmer_sw10_miniconf_1\",\"brightness_pct\":40}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":780,"wires":[[]]},{"id":"d70a6338.a5ac5","type":"api-current-state","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw10_miniconf_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1210,"y":900,"wires":[["4cc9a235.21f66c"]]},{"id":"1c6e19da.54ef76","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw10_miniconf_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1640,"y":900,"wires":[[]]},{"id":"d2d1557a.1c1758","type":"comment","z":"a2da7c64.323c4","name":"Mini Conf 2","info":"","x":190,"y":520,"wires":[]},{"id":"b40d5cb8.c424b","type":"server-state-changed","z":"a2da7c64.323c4","name":"MS8 Mini Conf 2 Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms08_motion_miniconf2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":620,"wires":[["e925579d.c25df8","7c9e294a.3779a8","fc81fed2.79138"]]},{"id":"16919ce1.84bb23","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":860,"wires":[["87ece155.3e5ce","8a4e4061.61448"],["87ece155.3e5ce"]]},{"id":"31611928.c9af46","type":"inject","z":"a2da7c64.323c4","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":200,"y":580,"wires":[["e925579d.c25df8","7c9e294a.3779a8","fc81fed2.79138"]]},{"id":"e925579d.c25df8","type":"time-range-switch","z":"a2da7c64.323c4","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":500,"y":400,"wires":[["adac9e37.33437"],[]]},{"id":"7c9e294a.3779a8","type":"time-range-switch","z":"a2da7c64.323c4","name":"","lat":"37.81814","lon":"-122.23196","startTime":"dusk","endTime":"01:00:00","startOffset":0,"endOffset":0,"x":500,"y":600,"wires":[["4a5d4395.3b4b2c"],[]]},{"id":"fc81fed2.79138","type":"time-range-switch","z":"a2da7c64.323c4","name":"","lat":"37.81814","lon":"-122.23196","startTime":"01:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":510,"y":860,"wires":[["16919ce1.84bb23"],[]]},{"id":"4a5d4395.3b4b2c","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":600,"wires":[["84ea65ea.7a7328","db0092c6.f0ac3"],["db0092c6.f0ac3"]]},{"id":"adac9e37.33437","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":400,"wires":[["1ef64df2.f0d0b2","9868c6a2.c18cb8"],["9868c6a2.c18cb8"]]},{"id":"1ef64df2.f0d0b2","type":"api-current-state","z":"a2da7c64.323c4","name":"LS1 Reception Lux","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls01_illuminance_reception","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":240,"wires":[["2667d4a8.5bcabc"]]},{"id":"2667d4a8.5bcabc","type":"switch","z":"a2da7c64.323c4","name":"Lux","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1500","vt":"num"},{"t":"btwn","v":"1500","vt":"num","v2":"800","v2t":"num"},{"t":"lt","v":"800","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1650,"y":240,"wires":[["4e6a184b.a25358"],["3c36c217.b4b6de"],["9868a90e.eb8568"]]},{"id":"84ea65ea.7a7328","type":"api-current-state","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw11_miniconf_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1015,"y":503,"wires":[["1dcbd17f.6e96cf"]]},{"id":"1dcbd17f.6e96cf","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":500,"wires":[[],["8855281f.be08c8"]]},{"id":"5eaedd8f.bf9c34","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":620,"wires":[["61c1c223.35024c"],[]]},{"id":"c849f716.916a88","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1235,"y":783,"wires":[[],["7faacaff.1cded4"]]},{"id":"f1d716ce.6f1708","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":900,"wires":[["e47c8b4c.3dad08"],[]]},{"id":"c99386b.02f1478","type":"stoptimer","z":"a2da7c64.323c4","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"25 Mins","x":240,"y":160,"wires":[["aaf375f4.ef4da8"],[]]},{"id":"5c274543.76033c","type":"link in","z":"a2da7c64.323c4","name":"","links":["9868c6a2.c18cb8","db0092c6.f0ac3","87ece155.3e5ce","e609396c.62da98"],"x":135,"y":160,"wires":[["c99386b.02f1478"]]},{"id":"aaf375f4.ef4da8","type":"link out","z":"a2da7c64.323c4","name":"","links":["63b72d2b.631684","2d8d9a40.ee2416","850681ed.99ea7","1da13241.5c947e"],"x":335,"y":160,"wires":[]},{"id":"63b72d2b.631684","type":"link in","z":"a2da7c64.323c4","name":"","links":["aaf375f4.ef4da8"],"x":1015,"y":380,"wires":[["fae3cc3.925193"]]},{"id":"9868c6a2.c18cb8","type":"link out","z":"a2da7c64.323c4","name":"","links":["5c274543.76033c"],"x":855,"y":380,"wires":[]},{"id":"95e882dc.d840b","type":"comment","z":"a2da7c64.323c4","name":"Mini Conf 2 Timer Off","info":"","x":950,"y":360,"wires":[]},{"id":"2d8d9a40.ee2416","type":"link in","z":"a2da7c64.323c4","name":"","links":["aaf375f4.ef4da8"],"x":995,"y":620,"wires":[["5e697dc4.c7c714"]]},{"id":"db0092c6.f0ac3","type":"link out","z":"a2da7c64.323c4","name":"","links":["5c274543.76033c"],"x":835,"y":620,"wires":[]},{"id":"a88952bc.5fb94","type":"comment","z":"a2da7c64.323c4","name":"Mini Conf 2 Timer Off","info":"","x":930,"y":600,"wires":[]},{"id":"850681ed.99ea7","type":"link in","z":"a2da7c64.323c4","name":"","links":["aaf375f4.ef4da8"],"x":995,"y":900,"wires":[["33a6abcf.d05204"]]},{"id":"87ece155.3e5ce","type":"link out","z":"a2da7c64.323c4","name":"","links":["5c274543.76033c"],"x":835,"y":900,"wires":[]},{"id":"e795a1a.17fe86","type":"comment","z":"a2da7c64.323c4","name":"Mini Conf 2 Timer Off","info":"","x":930,"y":880,"wires":[]},{"id":"f1d16af0.975978","type":"comment","z":"a2da7c64.323c4","name":"Mini Conf 2 Timer Off","info":"","x":260,"y":100,"wires":[]},{"id":"afd08ca1.41b6b","type":"comment","z":"a2da7c64.323c4","name":"Daytime","info":"","x":1340,"y":240,"wires":[]},{"id":"2e3e50e1.50f4e","type":"comment","z":"a2da7c64.323c4","name":"Evening","info":"","x":1230,"y":560,"wires":[]},{"id":"452c238a.40523c","type":"comment","z":"a2da7c64.323c4","name":"Latenight","info":"","x":1240,"y":840,"wires":[]},{"id":"4e6a184b.a25358","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights on 50","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw11_miniconf_2","data":"{\"entity_id\":\"light.dimmer_sw11_miniconf_2\",\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1890,"y":180,"wires":[[]]},{"id":"fae3cc3.925193","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights on 25","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw11_miniconf_2","data":"{\"entity_id\":\"light.dimmer_sw11_miniconf_2\",\"brightness_pct\":25}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":380,"wires":[[]]},{"id":"8855281f.be08c8","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw11_miniconf_2","data":"{\"entity_id\":\"light.dimmer_sw11_miniconf_2\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":500,"wires":[[]]},{"id":"3c36c217.b4b6de","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw11_miniconf_2","data":"{\"entity_id\":\"light.dimmer_sw11_miniconf_2\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1890,"y":240,"wires":[[]]},{"id":"9868a90e.eb8568","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw11_miniconf_2","data":"{\"entity_id\":\"light.dimmer_sw11_miniconf_2\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1890,"y":300,"wires":[[]]},{"id":"5e697dc4.c7c714","type":"api-current-state","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw11_miniconf_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":620,"wires":[["5eaedd8f.bf9c34"]]},{"id":"8a4e4061.61448","type":"api-current-state","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw11_miniconf_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":780,"wires":[["c849f716.916a88"]]},{"id":"33a6abcf.d05204","type":"api-current-state","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw11_miniconf_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":900,"wires":[["f1d716ce.6f1708"]]},{"id":"61c1c223.35024c","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw11_miniconf_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":620,"wires":[[]]},{"id":"7faacaff.1cded4","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights on 40","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw11_miniconf_2","data":"{\"entity_id\":\"light.dimmer_sw11_miniconf_2\",\"brightness_pct\":40}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":780,"wires":[[]]},{"id":"e47c8b4c.3dad08","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw11_miniconf_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":900,"wires":[[]]},{"id":"a6f9744b.f47578","type":"comment","z":"bf0d1815.edd6a8","name":"Storage Room","info":"","x":240,"y":520,"wires":[]},{"id":"ae514b79.633188","type":"server-state-changed","z":"bf0d1815.edd6a8","name":"MS10 Storage Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms10_motion_storage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":620,"wires":[["1d1ed966.7c5117","c8e99391.479ff","c86b6e3b.70309"]]},{"id":"b2ad3774.576b38","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":860,"wires":[["952f1b3c.c0c608","bbea0462.579828"],["952f1b3c.c0c608"]]},{"id":"1d7f0e03.e979a2","type":"inject","z":"bf0d1815.edd6a8","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":240,"y":580,"wires":[["1d1ed966.7c5117","c8e99391.479ff","c86b6e3b.70309"]]},{"id":"1d1ed966.7c5117","type":"time-range-switch","z":"bf0d1815.edd6a8","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":540,"y":400,"wires":[["8a1d3a0f.685ef8"],[]]},{"id":"c8e99391.479ff","type":"time-range-switch","z":"bf0d1815.edd6a8","name":"","lat":"37.81814","lon":"-122.23196","startTime":"dusk","endTime":"01:00:00","startOffset":0,"endOffset":0,"x":540,"y":600,"wires":[["450f2c8b.d69374"],[]]},{"id":"c86b6e3b.70309","type":"time-range-switch","z":"bf0d1815.edd6a8","name":"","lat":"37.81814","lon":"-122.23196","startTime":"01:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":550,"y":860,"wires":[["b2ad3774.576b38"],[]]},{"id":"450f2c8b.d69374","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":600,"wires":[["f9614acc.920238","ce43d1b4.676b7"],["ce43d1b4.676b7"]]},{"id":"8a1d3a0f.685ef8","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":400,"wires":[["95f532b6.3892","71afefa4.80a1d"],["71afefa4.80a1d"]]},{"id":"95f532b6.3892","type":"api-current-state","z":"bf0d1815.edd6a8","name":"LS1 Reception Lux","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls01_illuminance_reception","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":240,"wires":[["ad1862b.6830fa"]]},{"id":"ad1862b.6830fa","type":"switch","z":"bf0d1815.edd6a8","name":"Lux","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1500","vt":"num"},{"t":"btwn","v":"1500","vt":"num","v2":"800","v2t":"num"},{"t":"lt","v":"800","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1690,"y":240,"wires":[["5132ee80.10ed"],["88ffe982.5b1888"],["fe4d3059.90e1d"]]},{"id":"f9614acc.920238","type":"api-current-state","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw13_storage_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1045,"y":503,"wires":[["81b42ce4.877f9"]]},{"id":"81b42ce4.877f9","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":500,"wires":[[],["7b7d4883.90e488"]]},{"id":"dc7fef49.78ea6","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":620,"wires":[["ef8b24fa.fb9658"],[]]},{"id":"87d5e3b4.b447b","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1275,"y":783,"wires":[[],["e17f879f.47c208"]]},{"id":"25f1e4fd.9199fc","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":900,"wires":[["c0314188.3d7ed"],[]]},{"id":"20c0b506.a905ea","type":"stoptimer","z":"bf0d1815.edd6a8","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"25 Mins","x":280,"y":160,"wires":[["26e32f16.7a074"],[]]},{"id":"8cf3b913.f8e138","type":"link in","z":"bf0d1815.edd6a8","name":"","links":["71afefa4.80a1d","ce43d1b4.676b7","952f1b3c.c0c608","e609396c.62da98"],"x":175,"y":160,"wires":[["20c0b506.a905ea"]]},{"id":"26e32f16.7a074","type":"link out","z":"bf0d1815.edd6a8","name":"","links":["86b5b859.c440f8","898394cc.63a7a8","8cb6918a.ff6c3","1da13241.5c947e"],"x":375,"y":160,"wires":[]},{"id":"86b5b859.c440f8","type":"link in","z":"bf0d1815.edd6a8","name":"","links":["26e32f16.7a074"],"x":1055,"y":380,"wires":[["6b00c294.e57a2c"]]},{"id":"71afefa4.80a1d","type":"link out","z":"bf0d1815.edd6a8","name":"","links":["8cf3b913.f8e138"],"x":895,"y":380,"wires":[]},{"id":"9dda98d5.e38ed8","type":"comment","z":"bf0d1815.edd6a8","name":"Storage Timer Off","info":"","x":970,"y":360,"wires":[]},{"id":"898394cc.63a7a8","type":"link in","z":"bf0d1815.edd6a8","name":"","links":["26e32f16.7a074"],"x":1035,"y":620,"wires":[["f8045379.b24ce"]]},{"id":"ce43d1b4.676b7","type":"link out","z":"bf0d1815.edd6a8","name":"","links":["8cf3b913.f8e138"],"x":875,"y":620,"wires":[]},{"id":"87b37581.5e72d8","type":"comment","z":"bf0d1815.edd6a8","name":"Storage Timer Off","info":"","x":950,"y":600,"wires":[]},{"id":"8cb6918a.ff6c3","type":"link in","z":"bf0d1815.edd6a8","name":"","links":["26e32f16.7a074"],"x":1035,"y":900,"wires":[["ea5b2f53.8057f"]]},{"id":"952f1b3c.c0c608","type":"link out","z":"bf0d1815.edd6a8","name":"","links":["8cf3b913.f8e138"],"x":875,"y":900,"wires":[]},{"id":"97db591c.ede328","type":"comment","z":"bf0d1815.edd6a8","name":"Storage Timer Off","info":"","x":950,"y":880,"wires":[]},{"id":"2640d24a.42e18e","type":"comment","z":"bf0d1815.edd6a8","name":"Storage Timer Off","info":"","x":280,"y":100,"wires":[]},{"id":"55b6a3c9.052a0c","type":"comment","z":"bf0d1815.edd6a8","name":"Daytime","info":"","x":1380,"y":240,"wires":[]},{"id":"2055a6a8.2787ea","type":"comment","z":"bf0d1815.edd6a8","name":"Evening","info":"","x":1270,"y":560,"wires":[]},{"id":"4ed67077.1bc95","type":"comment","z":"bf0d1815.edd6a8","name":"Latenight","info":"","x":1280,"y":840,"wires":[]},{"id":"5132ee80.10ed","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights on 50","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw13_storage_room","data":"{\"entity_id\":\"light.dimmer_sw13_storage_room\",\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1920,"y":180,"wires":[[]]},{"id":"88ffe982.5b1888","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw13_storage_room","data":"{\"entity_id\":\"light.dimmer_sw13_storage_room\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1920,"y":240,"wires":[[]]},{"id":"fe4d3059.90e1d","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw13_storage_room","data":"{\"entity_id\":\"light.dimmer_sw13_storage_room\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1920,"y":300,"wires":[[]]},{"id":"6b00c294.e57a2c","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights on 25","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw13_storage_room","data":"{\"entity_id\":\"light.dimmer_sw13_storage_room\",\"brightness_pct\":25}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":380,"wires":[[]]},{"id":"f8045379.b24ce","type":"api-current-state","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw13_storage_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1240,"y":620,"wires":[["dc7fef49.78ea6"]]},{"id":"bbea0462.579828","type":"api-current-state","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw13_storage_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1020,"y":780,"wires":[["87d5e3b4.b447b"]]},{"id":"ea5b2f53.8057f","type":"api-current-state","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw13_storage_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1220,"y":900,"wires":[["25f1e4fd.9199fc"]]},{"id":"7b7d4883.90e488","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw13_storage_room","data":"{\"entity_id\":\"light.dimmer_sw13_storage_room\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":500,"wires":[[]]},{"id":"ef8b24fa.fb9658","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw13_storage_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1650,"y":620,"wires":[[]]},{"id":"e17f879f.47c208","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights on 40","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw13_storage_room","data":"{\"entity_id\":\"light.dimmer_sw13_storage_room\",\"brightness_pct\":40}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1480,"y":780,"wires":[[]]},{"id":"c0314188.3d7ed","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw13_storage_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1650,"y":900,"wires":[[]]},{"id":"d8059906.a15288","type":"server-state-changed","z":"f0d3620b.6fb35","name":"MS13 Stairwell Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms13_motion_stairs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":340,"wires":[["54047e02.086eb"]]},{"id":"54b10e6.a1260f","type":"switch","z":"f0d3620b.6fb35","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":380,"wires":[["14a8fae2.d90d05"],[]]},{"id":"18627184.cef80e","type":"switch","z":"f0d3620b.6fb35","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":380,"wires":[[],["9148715e.b6f"]]},{"id":"f6171e97.6c601","type":"api-call-service","z":"f0d3620b.6fb35","name":"SW3 Stairwell Lights on","server":"d7a00ba7.f288a8","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"switch.light_sw03_emergency_exit_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":260,"wires":[[]]},{"id":"1514a2ad.b0053d","type":"switch","z":"f0d3620b.6fb35","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":280,"wires":[[],["f6171e97.6c601"]]},{"id":"42f40144.aca5f","type":"api-current-state","z":"f0d3620b.6fb35","name":"SW3 Stairwell Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.light_sw03_emergency_exit_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":280,"wires":[["1514a2ad.b0053d"]]},{"id":"bb6c0bd9.5d9b98","type":"comment","z":"f0d3620b.6fb35","name":"Stairwell Timer Off","info":"","x":670,"y":400,"wires":[]},{"id":"54047e02.086eb","type":"switch","z":"f0d3620b.6fb35","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":340,"wires":[["42f40144.aca5f","844683f8.1835b"],["844683f8.1835b"]]},{"id":"fa1adbfe.768b18","type":"stoptimer","z":"f0d3620b.6fb35","duration":"25","units":"Minute","payloadtype":"num","payloadval":"0","name":"25 Mins","x":200,"y":180,"wires":[["38c56717.8a4278"],[]]},{"id":"43951fc7.7dfc6","type":"comment","z":"f0d3620b.6fb35","name":"Stairwell Timer Off","info":"","x":210,"y":120,"wires":[]},{"id":"38c56717.8a4278","type":"link out","z":"f0d3620b.6fb35","name":"","links":["23f25d7f.7af642"],"x":295,"y":180,"wires":[]},{"id":"a3a85bb3.b96a08","type":"link in","z":"f0d3620b.6fb35","name":"","links":["844683f8.1835b"],"x":95,"y":180,"wires":[["fa1adbfe.768b18"]]},{"id":"23f25d7f.7af642","type":"link in","z":"f0d3620b.6fb35","name":"","links":["38c56717.8a4278"],"x":755,"y":380,"wires":[["bae7bed6.c065e"]]},{"id":"844683f8.1835b","type":"link out","z":"f0d3620b.6fb35","name":"","links":["a3a85bb3.b96a08"],"x":575,"y":380,"wires":[]},{"id":"bae7bed6.c065e","type":"api-current-state","z":"f0d3620b.6fb35","name":"MS13 Stairwell Occupancy Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms13_motion_stairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":380,"wires":[["18627184.cef80e"]]},{"id":"9148715e.b6f","type":"api-current-state","z":"f0d3620b.6fb35","name":"SW3 Stairwell Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.light_sw03_emergency_exit_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1340,"y":380,"wires":[["54b10e6.a1260f"]]},{"id":"14a8fae2.d90d05","type":"api-call-service","z":"f0d3620b.6fb35","name":"SW3 Stairwell Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"switch.light_sw03_emergency_exit_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1730,"y":380,"wires":[[]]},{"id":"80fc510.a215bb","type":"api-current-state","z":"f0d3620b.6fb35","name":"M13 Stairwell Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms13_motion_stairs","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":180,"wires":[["3a330d6b.497432"]]},{"id":"3a330d6b.497432","type":"switch","z":"f0d3620b.6fb35","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1180,"y":180,"wires":[[],["649c7594.3d9f2c"]]},{"id":"649c7594.3d9f2c","type":"api-call-service","z":"f0d3620b.6fb35","name":"SW3 Stairwell Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"switch.light_sw03_emergency_exit_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":180,"wires":[[]]},{"id":"57567cae.3f4754","type":"api-current-state","z":"bf0d1815.edd6a8","name":"M10 Storage Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms10_motion_storage","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":160,"wires":[["5056ff5.60e5e"]]},{"id":"5056ff5.60e5e","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":160,"wires":[[],["38e593b7.adafac"]]},{"id":"38e593b7.adafac","type":"api-call-service","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw13_storage_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":160,"wires":[[]]},{"id":"9c687c91.57274","type":"api-current-state","z":"a2da7c64.323c4","name":"MS8 Mini Conf 2 Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms08_motion_miniconf2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":790,"y":160,"wires":[["e4c5d5f8.00cbd8"]]},{"id":"e4c5d5f8.00cbd8","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":160,"wires":[[],["53ad2892.2d0f68"]]},{"id":"53ad2892.2d0f68","type":"api-call-service","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw11_miniconf_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":160,"wires":[[]]},{"id":"cdd956a4.61cf88","type":"api-current-state","z":"850e8c17.34d1f","name":"MS7 Mini Conf 1 Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms07_motion_miniconf1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":830,"y":160,"wires":[["f85d93cc.39aa7"]]},{"id":"f85d93cc.39aa7","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":160,"wires":[[],["f008e3e6.b1271"]]},{"id":"f008e3e6.b1271","type":"api-call-service","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw10_miniconf_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":160,"wires":[[]]},{"id":"3f9b8a0.b14dd76","type":"api-current-state","z":"7660a063.fd4e3","name":"MS9 Office 2 Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms09_motion_office2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":160,"wires":[["f44551a6.5d028"]]},{"id":"f44551a6.5d028","type":"switch","z":"7660a063.fd4e3","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":160,"wires":[[],["833b3882.df2d08"]]},{"id":"833b3882.df2d08","type":"api-call-service","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw12_office_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":160,"wires":[[]]},{"id":"20216e4f.3c0a62","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"MS02 Reception Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms02_motion_reception","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":180,"wires":[["891a5056.a5295"]]},{"id":"891a5056.a5295","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":180,"wires":[[],["768e3648.a61138","b4417c72.3f64a"]]},{"id":"768e3648.a61138","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw04_reception_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1320,"y":180,"wires":[[]]},{"id":"b4417c72.3f64a","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw_02_reception_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1320,"y":140,"wires":[[]]},{"id":"416048b0.70e768","type":"api-current-state","z":"75eae2c9.deadac","name":"MS01 Kitchen Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms01_motion_kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":120,"wires":[["738a3dfc.9cf8a4"]]},{"id":"738a3dfc.9cf8a4","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":120,"wires":[[],["c7e15f5c.341d9","bf4ae64d.fa2078"]]},{"id":"c7e15f5c.341d9","type":"api-call-service","z":"75eae2c9.deadac","name":"Dining Linear Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dining_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":120,"wires":[[]]},{"id":"bf4ae64d.fa2078","type":"api-call-service","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw_06_diningroom_overhead","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":80,"wires":[[]]},{"id":"16e3cd25.04a963","type":"api-current-state","z":"bfff68bb.836ff8","name":"MS12 Mens' BR Occupancy","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms12_motion_menbr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":280,"wires":[["eaff5bcc.993088"]]},{"id":"eaff5bcc.993088","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":280,"wires":[[],["28eb3c0d.e54554"]]},{"id":"126765dd.e4b29a","type":"comment","z":"bfff68bb.836ff8","name":"Turn off after hours if no Occupancy","info":"","x":860,"y":220,"wires":[]},{"id":"e3cc4094.4c463","type":"api-current-state","z":"bfff68bb.836ff8","name":"MS11 Womens' BR Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms11_motion_womenbr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":740,"wires":[["a9d38e12.e56f7"]]},{"id":"a9d38e12.e56f7","type":"switch","z":"bfff68bb.836ff8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":740,"wires":[[],["362b989c.ff9738"]]},{"id":"28eb3c0d.e54554","type":"api-call-service","z":"bfff68bb.836ff8","name":"Men's BR Dimmer Off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw08_mensbr","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":280,"wires":[[]]},{"id":"362b989c.ff9738","type":"api-call-service","z":"bfff68bb.836ff8","name":"Women's BR Dimmer Off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw09_womensbr","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":740,"wires":[[]]},{"id":"bba0af83.4065b","type":"comment","z":"75eae2c9.deadac","name":"Turn off after hours if no Occupancy","info":"","x":920,"y":60,"wires":[]},{"id":"d4d28241.cf1b9","type":"comment","z":"ad90a8ba.6d97d8","name":"Turn off after hours if no Occupancy","info":"","x":1020,"y":120,"wires":[]},{"id":"c644dc47.56a29","type":"comment","z":"7660a063.fd4e3","name":"Turn off after hours if no Occupancy","info":"","x":880,"y":100,"wires":[]},{"id":"17c7e58b.c510ea","type":"comment","z":"850e8c17.34d1f","name":"Turn off after hours if no Occupancy","info":"","x":960,"y":100,"wires":[]},{"id":"7c21f9a3.9594e8","type":"comment","z":"a2da7c64.323c4","name":"Turn off after hours if no Occupancy","info":"","x":980,"y":120,"wires":[]},{"id":"8577b086.ebffc","type":"comment","z":"bf0d1815.edd6a8","name":"Turn off after hours if no Occupancy","info":"","x":920,"y":100,"wires":[]},{"id":"ecddb599.d8dd68","type":"comment","z":"f0d3620b.6fb35","name":"Turn off after hours if no Occupancy","info":"","x":1160,"y":120,"wires":[]},{"id":"b77afbfe.27c958","type":"inject","z":"f0d3620b.6fb35","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":730,"y":220,"wires":[["80fc510.a215bb"]]},{"id":"b99825c4.c4f488","type":"inject","z":"f0d3620b.6fb35","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":730,"y":180,"wires":[["80fc510.a215bb"]]},{"id":"25c5af23.0c1b6","type":"inject","z":"f0d3620b.6fb35","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":730,"y":140,"wires":[["80fc510.a215bb"]]},{"id":"cc1b69db.078258","type":"inject","z":"bf0d1815.edd6a8","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":200,"wires":[["57567cae.3f4754"]]},{"id":"7c6012b2.98850c","type":"inject","z":"bf0d1815.edd6a8","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":160,"wires":[["57567cae.3f4754"]]},{"id":"4d468ffb.2e12d","type":"inject","z":"bf0d1815.edd6a8","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":120,"wires":[["57567cae.3f4754"]]},{"id":"13ab3414.f1e99c","type":"inject","z":"a2da7c64.323c4","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":200,"wires":[["9c687c91.57274"]]},{"id":"6c1172a5.ba153c","type":"inject","z":"a2da7c64.323c4","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":160,"wires":[["9c687c91.57274"]]},{"id":"970d93d1.d8c7b","type":"inject","z":"a2da7c64.323c4","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":120,"wires":[["9c687c91.57274"]]},{"id":"acdee0af.d81a","type":"inject","z":"850e8c17.34d1f","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":570,"y":200,"wires":[["cdd956a4.61cf88"]]},{"id":"897dcb65.d3cde8","type":"inject","z":"850e8c17.34d1f","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":570,"y":160,"wires":[["cdd956a4.61cf88"]]},{"id":"f88b17ba.57d1e8","type":"inject","z":"850e8c17.34d1f","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":570,"y":120,"wires":[["cdd956a4.61cf88"]]},{"id":"55f0639.53cd39c","type":"inject","z":"7660a063.fd4e3","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":200,"wires":[["3f9b8a0.b14dd76"]]},{"id":"f317342f.6e7f88","type":"inject","z":"7660a063.fd4e3","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":160,"wires":[["3f9b8a0.b14dd76"]]},{"id":"6b7b713a.faf4f","type":"inject","z":"7660a063.fd4e3","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":550,"y":120,"wires":[["3f9b8a0.b14dd76"]]},{"id":"1da70184.904d7e","type":"inject","z":"ad90a8ba.6d97d8","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":650,"y":220,"wires":[["20216e4f.3c0a62"]]},{"id":"ffdcc8cb.a27558","type":"inject","z":"ad90a8ba.6d97d8","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":650,"y":180,"wires":[["20216e4f.3c0a62"]]},{"id":"a5842090.59ad6","type":"inject","z":"ad90a8ba.6d97d8","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":650,"y":140,"wires":[["20216e4f.3c0a62"]]},{"id":"b809f05e.bc6d3","type":"inject","z":"75eae2c9.deadac","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":570,"y":160,"wires":[["416048b0.70e768"]]},{"id":"a6814a58.d83df8","type":"inject","z":"75eae2c9.deadac","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":570,"y":120,"wires":[["416048b0.70e768"]]},{"id":"691222ef.cc1cdc","type":"inject","z":"75eae2c9.deadac","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":570,"y":80,"wires":[["416048b0.70e768"]]},{"id":"d33d9a39.89ed18","type":"inject","z":"bfff68bb.836ff8","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":490,"y":320,"wires":[["16e3cd25.04a963"]]},{"id":"252ba93e.e36de6","type":"inject","z":"bfff68bb.836ff8","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":490,"y":280,"wires":[["16e3cd25.04a963"]]},{"id":"b4465fb.99178a","type":"inject","z":"bfff68bb.836ff8","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":490,"y":240,"wires":[["16e3cd25.04a963"]]},{"id":"ab3ca102.74fb5","type":"inject","z":"bfff68bb.836ff8","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":470,"y":780,"wires":[["e3cc4094.4c463"]]},{"id":"142f717.2c6f18f","type":"inject","z":"bfff68bb.836ff8","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":470,"y":740,"wires":[["e3cc4094.4c463"]]},{"id":"5c0c55ed.88a12c","type":"inject","z":"bfff68bb.836ff8","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":470,"y":700,"wires":[["e3cc4094.4c463"]]},{"id":"7b99196d.544a68","type":"comment","z":"bfff68bb.836ff8","name":"Turn off after hours if no Occupancy","info":"","x":880,"y":680,"wires":[]},{"id":"66ebad1f.30cd34","type":"poll-state","z":"850e8c17.34d1f","name":"LS1 Reception Lux","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.ls01_illuminance_reception","state_type":"str","halt_if":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"x":970,"y":280,"wires":[["6fc7bd29.e12b44"]]},{"id":"78333cd0.334a94","type":"switch","z":"850e8c17.34d1f","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":280,"wires":[[],[]]},{"id":"6fc7bd29.e12b44","type":"api-current-state","z":"850e8c17.34d1f","name":"SW10 Mini Conf 1 Lights","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw10_miniconf_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1210,"y":280,"wires":[["78333cd0.334a94"]]},{"id":"d58da304.7344d","type":"switch","z":"a2da7c64.323c4","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":280,"wires":[[],[]]},{"id":"83cd7891.741a98","type":"poll-state","z":"a2da7c64.323c4","name":"LS1 Reception Lux","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.ls01_illuminance_reception","state_type":"str","halt_if":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"x":950,"y":280,"wires":[["51e9387d.adee08"]]},{"id":"51e9387d.adee08","type":"api-current-state","z":"a2da7c64.323c4","name":"SW11 Mini Conf 2 Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw11_miniconf_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":280,"wires":[["d58da304.7344d"]]},{"id":"9b1f299.1ca11d8","type":"switch","z":"bf0d1815.edd6a8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":280,"wires":[[],[]]},{"id":"e84f63eb.826d","type":"poll-state","z":"bf0d1815.edd6a8","name":"LS1 Reception Lux","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.ls01_illuminance_reception","state_type":"str","halt_if":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"x":990,"y":280,"wires":[["cf3287e7.8a96d8"]]},{"id":"cf3287e7.8a96d8","type":"api-current-state","z":"bf0d1815.edd6a8","name":"SW13 Storage Lights Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw13_storage_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1220,"y":280,"wires":[["9b1f299.1ca11d8"]]},{"id":"5aa04b52.949814","type":"comment","z":"c7fdb6fd.cccef8","name":"Open Office","info":"","x":350,"y":1280,"wires":[]},{"id":"3e9afcf9.7fa4b4","type":"server-state-changed","z":"c7fdb6fd.cccef8","name":"MS03 Hallway Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms03_motion_hallway","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":330,"y":1380,"wires":[["44911068.2db0c","b804a2b5.0cf54"]]},{"id":"f418f720.50cc38","type":"switch","z":"c7fdb6fd.cccef8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1940,"wires":[["c181fb38.5cdc68","ab89534a.70a5d","5c576359.1b64dc"],["c181fb38.5cdc68"]]},{"id":"d1dfb436.e9d568","type":"inject","z":"c7fdb6fd.cccef8","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":340,"y":1340,"wires":[["a6f7bf06.bae5c","44911068.2db0c","b804a2b5.0cf54"]]},{"id":"a6f7bf06.bae5c","type":"time-range-switch","z":"c7fdb6fd.cccef8","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":820,"y":880,"wires":[["8ff796bf.577358"],[]]},{"id":"44911068.2db0c","type":"time-range-switch","z":"c7fdb6fd.cccef8","name":"","lat":"37.81814","lon":"-122.23196","startTime":"dusk","endTime":"01:00:00","startOffset":0,"endOffset":0,"x":660,"y":1400,"wires":[["6880e928.c1ca48"],[]]},{"id":"b804a2b5.0cf54","type":"time-range-switch","z":"c7fdb6fd.cccef8","name":"","lat":"37.81814","lon":"-122.23196","startTime":"01:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":650,"y":1940,"wires":[["f418f720.50cc38"],[]]},{"id":"6880e928.c1ca48","type":"switch","z":"c7fdb6fd.cccef8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1400,"wires":[["d157b4d.44f9d48","7e146819.1bc698","2416c4d6.51b4dc"],["d157b4d.44f9d48"]]},{"id":"8ff796bf.577358","type":"switch","z":"c7fdb6fd.cccef8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":880,"wires":[["3b54b895.ae83b8","ff204d1a.d592d"],["3b54b895.ae83b8"]]},{"id":"963220a4.8623e","type":"stoptimer","z":"c7fdb6fd.cccef8","duration":"45","units":"Minute","payloadtype":"num","payloadval":"0","name":"45 Mins","x":280,"y":220,"wires":[["eb543fdd.4dba9"],[]]},{"id":"93fa9ad3.712b18","type":"link in","z":"c7fdb6fd.cccef8","name":"","links":["3b54b895.ae83b8","d157b4d.44f9d48","c181fb38.5cdc68","33df2f9d.23cbb"],"x":175,"y":220,"wires":[["963220a4.8623e"]]},{"id":"eb543fdd.4dba9","type":"link out","z":"c7fdb6fd.cccef8","name":"","links":["9a7453c6.1b20f","a97c3bd3.1139b8","f95f02a1.3e4be","5d49942d.1b0c8c"],"x":375,"y":220,"wires":[]},{"id":"9a7453c6.1b20f","type":"link in","z":"c7fdb6fd.cccef8","name":"","links":["eb543fdd.4dba9","38b26b6.db55094"],"x":1275,"y":940,"wires":[["8a74f786.903698","6fa35171.fb8db"]]},{"id":"3b54b895.ae83b8","type":"link out","z":"c7fdb6fd.cccef8","name":"","links":["93fa9ad3.712b18","a37ea1ce.1b3a8"],"x":1115,"y":940,"wires":[]},{"id":"7b75f9b5.2f0ef8","type":"comment","z":"c7fdb6fd.cccef8","name":"Open Office Timer","info":"","x":1200,"y":920,"wires":[]},{"id":"a97c3bd3.1139b8","type":"link in","z":"c7fdb6fd.cccef8","name":"","links":["eb543fdd.4dba9","38b26b6.db55094"],"x":1155,"y":1420,"wires":[["a586f51e.203688","6c40ef40.ef9d"]]},{"id":"d157b4d.44f9d48","type":"link out","z":"c7fdb6fd.cccef8","name":"","links":["93fa9ad3.712b18","a37ea1ce.1b3a8"],"x":995,"y":1420,"wires":[]},{"id":"a4d1f852.f15f68","type":"comment","z":"c7fdb6fd.cccef8","name":"Open Office Timer","info":"","x":1080,"y":1400,"wires":[]},{"id":"f95f02a1.3e4be","type":"link in","z":"c7fdb6fd.cccef8","name":"","links":["eb543fdd.4dba9","38b26b6.db55094"],"x":1135,"y":1980,"wires":[["34c3ef2f.3d34b","e74fda9b.45c048"]]},{"id":"c181fb38.5cdc68","type":"link out","z":"c7fdb6fd.cccef8","name":"","links":["93fa9ad3.712b18","a37ea1ce.1b3a8"],"x":975,"y":1980,"wires":[]},{"id":"8c38916a.40b0c","type":"comment","z":"c7fdb6fd.cccef8","name":"Open Office Timer","info":"","x":1060,"y":1960,"wires":[]},{"id":"dfaae81.79c9a18","type":"comment","z":"c7fdb6fd.cccef8","name":"Open Office Timer","info":"","x":270,"y":160,"wires":[]},{"id":"32520c3b.6180c4","type":"comment","z":"c7fdb6fd.cccef8","name":"Daytime","info":"","x":1420,"y":560,"wires":[]},{"id":"1391532.d38cdad","type":"comment","z":"c7fdb6fd.cccef8","name":"Evening","info":"","x":1380,"y":1340,"wires":[]},{"id":"2772c629.0c1a5a","type":"comment","z":"c7fdb6fd.cccef8","name":"Latenight","info":"","x":1380,"y":1920,"wires":[]},{"id":"bdbb0530.f4fdb8","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"MS03 Hallway Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms03_motion_hallway","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":930,"y":200,"wires":[[],["afb734f1.7efb78"]]},{"id":"c9538801.80abe8","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Open Office Linears off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1650,"y":200,"wires":[[]]},{"id":"badc627c.20ce1","type":"comment","z":"c7fdb6fd.cccef8","name":"Turn off after hours if no Occupancy","info":"","x":1000,"y":100,"wires":[]},{"id":"a59b11ac.83e96","type":"inject","z":"c7fdb6fd.cccef8","name":"send Off at 5pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":650,"y":280,"wires":[["bdbb0530.f4fdb8","2f053b33.c15674","4579908b.a385f"]]},{"id":"df81e26.70ccd2","type":"inject","z":"c7fdb6fd.cccef8","name":"send Off at 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":650,"y":240,"wires":[["bdbb0530.f4fdb8","2f053b33.c15674","4579908b.a385f"]]},{"id":"c4bd16d9.f7dda8","type":"inject","z":"c7fdb6fd.cccef8","name":"send Off at 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","topic":"","payload":"off","payloadType":"str","x":650,"y":200,"wires":[["bdbb0530.f4fdb8","2f053b33.c15674","4579908b.a385f"]]},{"id":"81978aba.e87da8","type":"server-state-changed","z":"c7fdb6fd.cccef8","name":"MS04 Open Office Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms04_motion_openoffice","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":320,"y":1420,"wires":[["a6f7bf06.bae5c","44911068.2db0c","b804a2b5.0cf54"]]},{"id":"6f2e1c2d.9c8194","type":"server-state-changed","z":"c7fdb6fd.cccef8","name":"MS05 Open Office Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms05_motion_openoffice","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":320,"y":1460,"wires":[["a6f7bf06.bae5c","44911068.2db0c","b804a2b5.0cf54"]]},{"id":"8a74f786.903698","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Open Office Linears on 25","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office_virtual_light","data":"{\"entity_id\":\"light.office_virtual_light\",\"brightness_pct\":25}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":920,"wires":[[]]},{"id":"7d07bbb9.2cc884","type":"api-current-state","z":"2eb397bc.338c08","name":"LS2 Open Office Lux","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls02_illuminance_openoffice","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":420,"wires":[["ff0837a1.2bffa8","174b2467.89cabc"]]},{"id":"174b2467.89cabc","type":"switch","z":"2eb397bc.338c08","name":"Lux","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3000","vt":"num"},{"t":"btwn","v":"3000","vt":"num","v2":"1000","v2t":"num"},{"t":"lt","v":"1000","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":420,"wires":[["27e22173.d1b28e"],["9b42bcd3.fbfe"],["7ff14b87.231f54"]]},{"id":"890493c7.076de","type":"debug","z":"2eb397bc.338c08","name":"Open Office Real-Time Lux","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":940,"wires":[]},{"id":"ff0837a1.2bffa8","type":"debug","z":"2eb397bc.338c08","name":"Open Office Lux","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":340,"wires":[]},{"id":"4bf5e0d8.d8e19","type":"debug","z":"2eb397bc.338c08","name":"Proportional Light Levels","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":880,"wires":[]},{"id":"27e22173.d1b28e","type":"api-call-service","z":"2eb397bc.338c08","d":true,"name":"Test Light on 50","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.test_light_node_red","data":"{\"entity_id\":\"light.test_light_node_red\",\"brightness_pct\":50}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":380,"wires":[[]]},{"id":"9b42bcd3.fbfe","type":"api-call-service","z":"2eb397bc.338c08","d":true,"name":"Test Light on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.test_light_node_red","data":"{\"entity_id\":\"light.test_light_node_red\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":420,"wires":[[]]},{"id":"7ff14b87.231f54","type":"api-call-service","z":"2eb397bc.338c08","d":true,"name":"Test Light on 100","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.test_light_node_red","data":"{\"entity_id\":\"light.test_light_node_red\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":460,"wires":[[]]},{"id":"355697cd.9d1438","type":"comment","z":"2eb397bc.338c08","name":"First Attempt, 3 \"levels\" of brightness","info":"","x":300,"y":340,"wires":[]},{"id":"7e78368e.78a7f8","type":"comment","z":"2eb397bc.338c08","name":"Ultimate goal, proportional dimming","info":"","x":390,"y":680,"wires":[]},{"id":"2416c4d6.51b4dc","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Open Office Linears on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office_virtual_light","data":"{\"entity_id\":\"light.office_virtual_light\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":1280,"wires":[[]]},{"id":"5c576359.1b64dc","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Open Office Linears on 40","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office_virtual_light","data":"{\"entity_id\":\"light.office_virtual_light\",\"brightness_pct\":40}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":1860,"wires":[[]]},{"id":"f27787c0.81cf78","type":"switch","z":"c7fdb6fd.cccef8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1980,"wires":[["16d51566.41303b"],[]]},{"id":"34c3ef2f.3d34b","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"Inner Open Office Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.inner_office_light_group","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":1980,"wires":[["f27787c0.81cf78"]]},{"id":"2f053b33.c15674","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"MS05 Open Office Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms05_motion_openoffice","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":240,"wires":[[],["afb734f1.7efb78"]]},{"id":"4579908b.a385f","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"MS04 Open Office Occ Status","server":"d7a00ba7.f288a8","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ms04_motion_openoffice","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":280,"wires":[[],["afb734f1.7efb78","5f78613e.0e492"]]},{"id":"afb734f1.7efb78","type":"BooleanLogicUltimate","z":"c7fdb6fd.cccef8","name":"All Inputs False","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"3","topic":"result","x":1340,"y":220,"wires":[["c9538801.80abe8","9c04bad3.edd1f8"],[],[]]},{"id":"5f78613e.0e492","type":"debug","z":"c7fdb6fd.cccef8","name":"Occ State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":280,"wires":[]},{"id":"9c04bad3.edd1f8","type":"debug","z":"c7fdb6fd.cccef8","name":"Boolean Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1620,"y":240,"wires":[]},{"id":"7e146819.1bc698","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Inner Open Office on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.inner_office_light_group","data":"{\"entity_id\":\"group.inner_office_light_group\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":1240,"wires":[[]]},{"id":"6fa35171.fb8db","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Inner Open Office off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.inner_office_light_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":960,"wires":[[]]},{"id":"ab89534a.70a5d","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Inner Open Office on 40","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.inner_office_light_group","data":"{\"entity_id\":\"group.inner_office_light_group\",\"brightness_pct\":40}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":1820,"wires":[[]]},{"id":"92ea59c3.09a428","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Open Office Linears off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":2020,"wires":[[]]},{"id":"16d51566.41303b","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Inner Open Office off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.inner_office_light_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1740,"y":1960,"wires":[[]]},{"id":"e74fda9b.45c048","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"Open Office Linears Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.office_virtual_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1320,"y":2020,"wires":[["aadc60f6.84d4f"]]},{"id":"aadc60f6.84d4f","type":"switch","z":"c7fdb6fd.cccef8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":2020,"wires":[["92ea59c3.09a428"],[]]},{"id":"97335e6.e7f34a","type":"switch","z":"c7fdb6fd.cccef8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":1400,"wires":[["d69aa8d4.00ff88"],[]]},{"id":"a586f51e.203688","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"Inner Open Office Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.inner_office_light_group","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":1400,"wires":[["97335e6.e7f34a"]]},{"id":"1af7cf6c.e9bbb1","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Open Office Linears off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1770,"y":1440,"wires":[[]]},{"id":"d69aa8d4.00ff88","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Inner Open Office off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.inner_office_light_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":1380,"wires":[[]]},{"id":"6c40ef40.ef9d","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"Open Office Linears Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.office_virtual_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1340,"y":1440,"wires":[["7e6d5d89.f02174"]]},{"id":"7e6d5d89.f02174","type":"switch","z":"c7fdb6fd.cccef8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":1440,"wires":[["1af7cf6c.e9bbb1"],[]]},{"id":"80594a2f.707f88","type":"inject","z":"2eb397bc.338c08","name":"Motion On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":460,"wires":[["7d07bbb9.2cc884","51437234.26b17c"]]},{"id":"e03cbc2e.fee5d","type":"inject","z":"2eb397bc.338c08","name":"Motion Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":520,"wires":[["51437234.26b17c"]]},{"id":"51437234.26b17c","type":"stoptimer","z":"2eb397bc.338c08","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":470,"y":520,"wires":[["e98ff7d6.c22168"],[]]},{"id":"87ffc934.985708","type":"api-call-service","z":"2eb397bc.338c08","d":true,"name":"Test Light off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.test_light_node_red","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":520,"wires":[[]]},{"id":"e98ff7d6.c22168","type":"api-current-state","z":"2eb397bc.338c08","name":"Test Light not off?","server":"d7a00ba7.f288a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"light.test_light_node_red","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":500,"wires":[["87ffc934.985708"],[]]},{"id":"3128dce2.3dc694","type":"traffic","z":"2eb397bc.338c08","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":910,"y":760,"wires":[["a74cf806.a7f1b8","daa892c7.890b2"]]},{"id":"b880e77a.019338","type":"server-state-changed","z":"2eb397bc.338c08","name":"","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.test_light_node_red","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":360,"y":760,"wires":[["3128dce2.3dc694"]]},{"id":"a74cf806.a7f1b8","type":"debug","z":"2eb397bc.338c08","name":"Traffic Light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":840,"wires":[]},{"id":"52d93c1f.81f7b4","type":"api-current-state","z":"2eb397bc.338c08","name":"LS2 Open Office Lux","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls02_illuminance_openoffice","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":940,"wires":[["58606e89.61018","890493c7.076de"]]},{"id":"d53828ad.a02e98","type":"inject","z":"2eb397bc.338c08","name":"Motion On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":940,"wires":[["52d93c1f.81f7b4"]]},{"id":"f2db94ea.82ab98","type":"inject","z":"2eb397bc.338c08","name":"Motion Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1000,"wires":[["9dde0f74.dd63e"]]},{"id":"9dde0f74.dd63e","type":"stoptimer","z":"2eb397bc.338c08","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":350,"y":1000,"wires":[["6d67d564.38002c"],[]]},{"id":"416b005d.9bedc","type":"api-call-service","z":"2eb397bc.338c08","name":"Test Light off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.test_light_node_red","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1000,"wires":[[]]},{"id":"6d67d564.38002c","type":"api-current-state","z":"2eb397bc.338c08","name":"Test Light not off?","server":"d7a00ba7.f288a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"light.test_light_node_red","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":1000,"wires":[["416b005d.9bedc"],[]]},{"id":"58606e89.61018","type":"range","z":"2eb397bc.338c08","minin":"0","maxin":"10000","minout":"100","maxout":"20","action":"scale","round":false,"property":"payload","name":"Lux to Light Level Linear","x":670,"y":820,"wires":[["3128dce2.3dc694","4bf5e0d8.d8e19"]]},{"id":"f8432443.3fc608","type":"server-state-changed","z":"2eb397bc.338c08","name":"LS02 Open Office Lux Sensor","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ls02_illuminance_openoffice","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":320,"y":820,"wires":[["58606e89.61018","890493c7.076de"]]},{"id":"daa892c7.890b2","type":"api-call-service","z":"2eb397bc.338c08","name":"Test Light Set Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.test_light_node_red","data":"{\"entity_id\":\"light.test_light_node_red\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":760,"wires":[["9061a546.6835c8"]]},{"id":"9061a546.6835c8","type":"debug","z":"2eb397bc.338c08","name":"Svc Call","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":840,"wires":[]},{"id":"a7b0756e.a38b28","type":"traffic","z":"c7fdb6fd.cccef8","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":630,"y":840,"wires":[["2210a88b.c4db18"]]},{"id":"45d25303.cb29ec","type":"server-state-changed","z":"c7fdb6fd.cccef8","name":"Open Office Virtual Light State","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.office_virtual_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":360,"y":720,"wires":[["da60bd56.674c6","a7b0756e.a38b28"]]},{"id":"5d772e69.8b51c","type":"range","z":"c7fdb6fd.cccef8","minin":"0","maxin":"6000","minout":"100","maxout":"10","action":"clamp","round":true,"property":"payload","name":"Lux to Light Level Linear","x":1190,"y":720,"wires":[["72d3429f.af298c","e994ae1c.55575"]]},{"id":"60348c23.c53994","type":"server-state-changed","z":"c7fdb6fd.cccef8","name":"LS02 Open Office Lux Sensor","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ls02_illuminance_openoffice","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":360,"y":840,"wires":[["a7b0756e.a38b28"]]},{"id":"72d3429f.af298c","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Open Office Virtual Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office_virtual_light","data":"{\"entity_id\":\"light.office_virtual_light\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1630,"y":720,"wires":[["af586086.bdeb8"]]},{"id":"da60bd56.674c6","type":"debug","z":"c7fdb6fd.cccef8","name":"Open Office Virtual Light State","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":720,"wires":[]},{"id":"2210a88b.c4db18","type":"time-range-switch","z":"c7fdb6fd.cccef8","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":820,"y":840,"wires":[["5d772e69.8b51c"],[]]},{"id":"f2fdf0f7.0956a","type":"api-call-service","z":"c7fdb6fd.cccef8","name":"Inner Office Group Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.inner_office_light_group","data":"{\"entity_id\":\"group.inner_office_light_group\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1630,"y":780,"wires":[["439c32bb.46933c"]]},{"id":"f71c56f9.5f5ee8","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"Open Office Virtual Light","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"light.office_virtual_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":780,"wires":[["a7b0756e.a38b28"]]},{"id":"ff204d1a.d592d","type":"api-current-state","z":"c7fdb6fd.cccef8","name":"LS02 Lux Sensor","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls02_illuminance_openoffice","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":820,"wires":[["5d772e69.8b51c"]]},{"id":"439c32bb.46933c","type":"debug","z":"c7fdb6fd.cccef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1850,"y":780,"wires":[]},{"id":"af586086.bdeb8","type":"debug","z":"c7fdb6fd.cccef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1850,"y":720,"wires":[]},{"id":"e994ae1c.55575","type":"range","z":"c7fdb6fd.cccef8","minin":"100","maxin":"20","minout":"100","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":1420,"y":780,"wires":[["f2fdf0f7.0956a"]]},{"id":"f34132f5.503da","type":"inject","z":"c7fdb6fd.cccef8","name":"Run Once (Initialize)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":140,"y":780,"wires":[["f71c56f9.5f5ee8"]]},{"id":"ebc88a82.0e1a38","type":"time-range-switch","z":"75eae2c9.deadac","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":860,"y":520,"wires":[["a0bd102e.eab11"],[]]},{"id":"a0bd102e.eab11","type":"switch","z":"75eae2c9.deadac","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":520,"wires":[["9b2b0ab9.eef7e8","ef7caa05.3f98b8"],["ef7caa05.3f98b8"]]},{"id":"2e6daa82.c7df36","type":"comment","z":"75eae2c9.deadac","name":"Kitchen Timer","info":"","x":1220,"y":560,"wires":[]},{"id":"3f0efe46.39dc12","type":"traffic","z":"75eae2c9.deadac","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":670,"y":480,"wires":[["614f5bdf.ae20f4"]]},{"id":"6a160ef7.808f","type":"server-state-changed","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights State","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.dimmer_sw_06_diningroom_overhead","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":390,"y":360,"wires":[["27a66615.96e96a","3f0efe46.39dc12"]]},{"id":"8497f5a3.99c708","type":"range","z":"75eae2c9.deadac","minin":"0","maxin":"10000","minout":"100","maxout":"100","action":"scale","round":true,"property":"payload","name":"Lux to Light Level Linear","x":1230,"y":360,"wires":[["2fcd2070.79c39","b66cfc19.3c9db"]]},{"id":"a96ec290.352eb","type":"server-state-changed","z":"75eae2c9.deadac","name":"LS01 Lux Sensor State","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ls01_illuminance_reception","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":400,"y":480,"wires":[["3f0efe46.39dc12"]]},{"id":"27a66615.96e96a","type":"debug","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights State","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":720,"y":360,"wires":[]},{"id":"614f5bdf.ae20f4","type":"time-range-switch","z":"75eae2c9.deadac","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":860,"y":480,"wires":[["8497f5a3.99c708"],[]]},{"id":"a6a123c0.e9d9a","type":"api-current-state","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_06_diningroom_overhead","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":420,"wires":[["3f0efe46.39dc12"]]},{"id":"9b2b0ab9.eef7e8","type":"api-current-state","z":"75eae2c9.deadac","name":"LS01 Lux Sensor","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls01_illuminance_reception","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1230,"y":460,"wires":[["8497f5a3.99c708"]]},{"id":"dbb1c61.549cd38","type":"inject","z":"75eae2c9.deadac","name":"Run Once (Initialize)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["a6a123c0.e9d9a"]]},{"id":"8dc1e037.15b96","type":"api-call-service","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":560,"wires":[[]]},{"id":"95d8042b.af98b8","type":"api-call-service","z":"75eae2c9.deadac","name":"Dining Linear Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dining_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":600,"wires":[[]]},{"id":"2fcd2070.79c39","type":"api-call-service","z":"75eae2c9.deadac","name":"SW06 Kitchen Lights Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw_06_diningroom_overhead","data":"{\"entity_id\":\"light.dimmer_sw_06_diningroom_overhead\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":340,"wires":[["cca4c74b.54ba18"]]},{"id":"b66cfc19.3c9db","type":"api-call-service","z":"75eae2c9.deadac","name":"Dining Linear Lights Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dining_virtual_light","data":"{\"entity_id\":\"light.dining_virtual_light\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":400,"wires":[["df58a08e.13076"]]},{"id":"df58a08e.13076","type":"debug","z":"75eae2c9.deadac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1790,"y":400,"wires":[]},{"id":"cca4c74b.54ba18","type":"debug","z":"75eae2c9.deadac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1790,"y":340,"wires":[]},{"id":"68d4768f.986da8","type":"link in","z":"75eae2c9.deadac","name":"","links":["e64e16e2.23feb8"],"x":1295,"y":580,"wires":[["8dc1e037.15b96","95d8042b.af98b8"]]},{"id":"ef7caa05.3f98b8","type":"link out","z":"75eae2c9.deadac","name":"","links":["48b84780.277fd8"],"x":1155,"y":580,"wires":[]},{"id":"ac7a56dc.2dfde8","type":"time-range-switch","z":"ad90a8ba.6d97d8","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":860,"y":580,"wires":[["c1799751.1f6238"],[]]},{"id":"c1799751.1f6238","type":"switch","z":"ad90a8ba.6d97d8","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":580,"wires":[["6f3be219.29f99c","9e9ea775.523368"],["9e9ea775.523368"]]},{"id":"339edabe.06bc26","type":"comment","z":"ad90a8ba.6d97d8","name":"Reception Timer","info":"","x":1230,"y":620,"wires":[]},{"id":"73c5cb02.d23954","type":"traffic","z":"ad90a8ba.6d97d8","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":670,"y":540,"wires":[["596147df.21f598"]]},{"id":"fe15b97c.9efc28","type":"server-state-changed","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights State","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.dimmer_sw_02_reception_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":400,"y":400,"wires":[["3b7dfec3.160a62","73c5cb02.d23954"]]},{"id":"d7745eb5.715fd","type":"range","z":"ad90a8ba.6d97d8","minin":"0","maxin":"10000","minout":"100","maxout":"100","action":"scale","round":true,"property":"payload","name":"Lux to Light Level Linear","x":1230,"y":420,"wires":[["404cde04.fc608","ec7b7435.5ea0b8"]]},{"id":"8d214948.f452b8","type":"server-state-changed","z":"ad90a8ba.6d97d8","name":"LS01 Lux Sensor State","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ls01_illuminance_reception","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":400,"y":600,"wires":[["73c5cb02.d23954"]]},{"id":"3b7dfec3.160a62","type":"debug","z":"ad90a8ba.6d97d8","name":"SW06 Kitchen Lights State","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":700,"y":400,"wires":[]},{"id":"596147df.21f598","type":"time-range-switch","z":"ad90a8ba.6d97d8","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":860,"y":540,"wires":[["d7745eb5.715fd"],[]]},{"id":"3a160eb0.daf752","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw_02_reception_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":500,"wires":[["73c5cb02.d23954"]]},{"id":"6f3be219.29f99c","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"LS01 Lux Sensor","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls01_illuminance_reception","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1230,"y":520,"wires":[["d7745eb5.715fd"]]},{"id":"e9b86f79.419a4","type":"inject","z":"ad90a8ba.6d97d8","name":"Run Once (Initialize)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":160,"y":520,"wires":[["3a160eb0.daf752","d76b4a52.d7b908"]]},{"id":"f4c0f6e4.91b0f8","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw_02_reception_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":620,"wires":[[]]},{"id":"b6925f58.1efe3","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmer_sw04_reception_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":660,"wires":[[]]},{"id":"404cde04.fc608","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW02 Reception Lights Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw_02_reception_1","data":"{\"entity_id\":\"light.dimmer_sw_02_reception_1\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":400,"wires":[["d2b4517d.82862"]]},{"id":"ec7b7435.5ea0b8","type":"api-call-service","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw04_reception_2","data":"{\"entity_id\":\"light.dimmer_sw04_reception_2\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":460,"wires":[["80658e59.247f"]]},{"id":"80658e59.247f","type":"debug","z":"ad90a8ba.6d97d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1790,"y":460,"wires":[]},{"id":"d2b4517d.82862","type":"debug","z":"ad90a8ba.6d97d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1790,"y":400,"wires":[]},{"id":"f6528d49.10a3d","type":"link in","z":"ad90a8ba.6d97d8","name":"","links":["6a52b3b8.7af54c"],"x":1315,"y":640,"wires":[["f4c0f6e4.91b0f8","b6925f58.1efe3"]]},{"id":"9e9ea775.523368","type":"link out","z":"ad90a8ba.6d97d8","name":"","links":["cb80b108.56fe9"],"x":1155,"y":640,"wires":[]},{"id":"d76b4a52.d7b908","type":"api-current-state","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw04_reception_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":540,"wires":[["73c5cb02.d23954"]]},{"id":"ab30f434.e82558","type":"server-state-changed","z":"ad90a8ba.6d97d8","name":"SW04 Reception Lights State","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.dimmer_sw04_reception_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":400,"y":440,"wires":[["73c5cb02.d23954"]]},{"id":"19341882.fc7667","type":"comment","z":"2eb397bc.338c08","name":"Open Office","info":"","x":2230,"y":960,"wires":[]},{"id":"52adbadd.4aed64","type":"server-state-changed","z":"2eb397bc.338c08","name":"MS03 Hallway Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms03_motion_hallway","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":2210,"y":1060,"wires":[["dbe32a5f.47a1d8"]]},{"id":"936d09b2.55af58","type":"inject","z":"2eb397bc.338c08","name":"Trigger Occupancy On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":2220,"y":1020,"wires":[["dbe32a5f.47a1d8","79b34d95.b85794"]]},{"id":"671f9b4e.577224","type":"time-range-switch","z":"faca3528.989e88","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":880,"y":240,"wires":[["f69963d1.e2078"],[]]},{"id":"dbe32a5f.47a1d8","type":"time-range-switch","z":"2eb397bc.338c08","name":"","lat":"37.81814","lon":"-122.23196","startTime":"dusk","endTime":"01:00:00","startOffset":0,"endOffset":0,"x":2540,"y":1080,"wires":[["c59616f3.105d38"],[]]},{"id":"c59616f3.105d38","type":"switch","z":"2eb397bc.338c08","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2730,"y":1080,"wires":[["c5257721.726948","24a05738.bfc1f8","5a98e193.1570e"],["c5257721.726948"]]},{"id":"f69963d1.e2078","type":"switch","z":"faca3528.989e88","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":240,"wires":[["5fac044f.b6fd9c","a5799bad.6e75e8"],["5fac044f.b6fd9c"]]},{"id":"8ebe0f7b.d409b","type":"link in","z":"faca3528.989e88","name":"","links":[],"x":1335,"y":300,"wires":[["e5cad835.6994c8","2c7b9aa5.59aa86"]]},{"id":"5fac044f.b6fd9c","type":"link out","z":"faca3528.989e88","name":"","links":[],"x":1175,"y":300,"wires":[]},{"id":"8e897ebf.a7b0a","type":"comment","z":"faca3528.989e88","name":"Open Office Timer","info":"","x":1260,"y":280,"wires":[]},{"id":"db37e414.4ab4b8","type":"link in","z":"2eb397bc.338c08","name":"","links":["eb543fdd.4dba9","38b26b6.db55094"],"x":3035,"y":1100,"wires":[["c693be38.82c44","71a4f720.6e8cd8"]]},{"id":"c5257721.726948","type":"link out","z":"2eb397bc.338c08","name":"","links":["93fa9ad3.712b18","a37ea1ce.1b3a8"],"x":2875,"y":1100,"wires":[]},{"id":"5363809b.8ed5a","type":"comment","z":"2eb397bc.338c08","name":"Open Office Timer","info":"","x":2960,"y":1080,"wires":[]},{"id":"a980747f.e41168","type":"comment","z":"2eb397bc.338c08","name":"Evening","info":"","x":3260,"y":1020,"wires":[]},{"id":"89077ce8.40e33","type":"server-state-changed","z":"2eb397bc.338c08","name":"MS04 Open Office Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms04_motion_openoffice","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":2200,"y":1100,"wires":[["dbe32a5f.47a1d8"]]},{"id":"766a74ae.646e2c","type":"server-state-changed","z":"2eb397bc.338c08","name":"MS05 Open Office Occupancy","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ms05_motion_openoffice","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":2200,"y":1140,"wires":[["dbe32a5f.47a1d8"]]},{"id":"e5cad835.6994c8","type":"api-call-service","z":"faca3528.989e88","name":"Open Office Linears on 25","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office_virtual_light","data":"{\"entity_id\":\"light.office_virtual_light\",\"brightness_pct\":25}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":280,"wires":[[]]},{"id":"5a98e193.1570e","type":"api-call-service","z":"2eb397bc.338c08","name":"Open Office Linears on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office_virtual_light","data":"{\"entity_id\":\"light.office_virtual_light\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3490,"y":960,"wires":[[]]},{"id":"24a05738.bfc1f8","type":"api-call-service","z":"2eb397bc.338c08","name":"Inner Open Office on 75","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.inner_office_light_group","data":"{\"entity_id\":\"group.inner_office_light_group\",\"brightness_pct\":75}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3490,"y":920,"wires":[[]]},{"id":"2c7b9aa5.59aa86","type":"api-call-service","z":"faca3528.989e88","name":"Inner Open Office on 25","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.inner_office_light_group","data":"{\"entity_id\":\"group.inner_office_light_group\",\"brightness_pct\":25}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":320,"wires":[[]]},{"id":"f6cce5fc.378b28","type":"switch","z":"2eb397bc.338c08","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3430,"y":1080,"wires":[["8b489272.03a5a"],[]]},{"id":"c693be38.82c44","type":"api-current-state","z":"2eb397bc.338c08","name":"Inner Open Office Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.inner_office_light_group","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3210,"y":1080,"wires":[["f6cce5fc.378b28"]]},{"id":"751c028b.11669c","type":"api-call-service","z":"2eb397bc.338c08","name":"Open Office Linears off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office_virtual_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3650,"y":1120,"wires":[[]]},{"id":"8b489272.03a5a","type":"api-call-service","z":"2eb397bc.338c08","name":"Inner Open Office off","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.inner_office_light_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3640,"y":1060,"wires":[[]]},{"id":"71a4f720.6e8cd8","type":"api-current-state","z":"2eb397bc.338c08","name":"Open Office Linears Status","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.office_virtual_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3220,"y":1120,"wires":[["f2b76810.c428b8"]]},{"id":"f2b76810.c428b8","type":"switch","z":"2eb397bc.338c08","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":3430,"y":1120,"wires":[["751c028b.11669c"],[]]},{"id":"61e035c6.85f6bc","type":"traffic","z":"faca3528.989e88","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":690,"y":200,"wires":[["4d573b47.4af1d4"]]},{"id":"9d9e901d.f56a6","type":"server-state-changed","z":"faca3528.989e88","name":"Open Office Virtual Light State","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.office_virtual_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":420,"y":80,"wires":[["edead298.f20ff","61e035c6.85f6bc"]]},{"id":"902a16d9.197018","type":"range","z":"faca3528.989e88","minin":"0","maxin":"10000","minout":"100","maxout":"20","action":"scale","round":true,"property":"payload","name":"Lux to Light Level Linear","x":1250,"y":80,"wires":[["3f1ba64.5af005a","4ace00ba.c4f9c"]]},{"id":"a274c55f.de15f8","type":"server-state-changed","z":"faca3528.989e88","name":"LS02 Open Office Lux Sensor","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ls02_illuminance_openoffice","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":420,"y":200,"wires":[["61e035c6.85f6bc"]]},{"id":"3f1ba64.5af005a","type":"api-call-service","z":"faca3528.989e88","name":"Open Office Virtual Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.office_virtual_light","data":"{\"entity_id\":\"light.office_virtual_light\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1690,"y":80,"wires":[["73ab4965.ec7be8"]]},{"id":"edead298.f20ff","type":"debug","z":"faca3528.989e88","name":"Open Office Virtual Light State","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":750,"y":80,"wires":[]},{"id":"4d573b47.4af1d4","type":"time-range-switch","z":"faca3528.989e88","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":880,"y":200,"wires":[["902a16d9.197018"],[]]},{"id":"5226e3e5.e48dfc","type":"api-call-service","z":"faca3528.989e88","name":"Inner Office Group Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.inner_office_light_group","data":"{\"entity_id\":\"group.inner_office_light_group\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1690,"y":140,"wires":[["6462a1c2.373a3"]]},{"id":"21d6b67e.2cec2a","type":"api-current-state","z":"faca3528.989e88","name":"Light","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"${Light_Entity}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":140,"wires":[["61e035c6.85f6bc"]]},{"id":"a5799bad.6e75e8","type":"api-current-state","z":"faca3528.989e88","name":"LS02 Lux Sensor","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls02_illuminance_openoffice","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1250,"y":180,"wires":[["902a16d9.197018"]]},{"id":"6462a1c2.373a3","type":"debug","z":"faca3528.989e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1910,"y":140,"wires":[]},{"id":"73ab4965.ec7be8","type":"debug","z":"faca3528.989e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1910,"y":80,"wires":[]},{"id":"4ace00ba.c4f9c","type":"range","z":"faca3528.989e88","minin":"100","maxin":"20","minout":"100","maxout":"40","action":"scale","round":false,"property":"payload","name":"","x":1480,"y":140,"wires":[["5226e3e5.e48dfc"]]},{"id":"5e7c7ace.d3e2e4","type":"inject","z":"faca3528.989e88","name":"Run Once (Initialize)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":200,"y":140,"wires":[["21d6b67e.2cec2a"]]},{"id":"79b34d95.b85794","type":"subflow:faca3528.989e88","z":"2eb397bc.338c08","name":"","env":[{"name":"Light_Entity","value":"light.test_light_node_red","type":"str"}],"x":2880,"y":520,"wires":[["e33e1b0b.51f738"]]},{"id":"39445727.48e138","type":"subflow:faca3528.989e88","z":"2eb397bc.338c08","name":"","env":[],"x":2950,"y":660,"wires":[[]]},{"id":"c6495f00.c2ac4","type":"subflow:faca3528.989e88","z":"2fe29522.1454fa","name":"","env":[{"name":"Light Entity","value":"light.office_virtual_light","type":"str"}],"x":410,"y":340,"wires":[[]]},{"id":"e33e1b0b.51f738","type":"debug","z":"2eb397bc.338c08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":3070,"y":520,"wires":[]},{"id":"e217a67b.2fdd08","type":"function","z":"faca3528.989e88","name":"","func":"let foo = env.get(\"Light_Entity\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":520,"wires":[[]]},{"id":"c0f61319.8dae","type":"time-range-switch","z":"7660a063.fd4e3","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":900,"y":540,"wires":[["5c4cece8.99afc4"],[]]},{"id":"5c4cece8.99afc4","type":"switch","z":"7660a063.fd4e3","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":540,"wires":[["130f00ec.f1214f","bd89bd70.d85ec"],["bd89bd70.d85ec"]]},{"id":"3f8fad47.2aaa32","type":"comment","z":"7660a063.fd4e3","name":"Reception Timer","info":"","x":1270,"y":580,"wires":[]},{"id":"3df0f4bd.2918ec","type":"traffic","z":"7660a063.fd4e3","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":710,"y":500,"wires":[["7617d857.bd6598"]]},{"id":"77e66ceb.ba81d4","type":"server-state-changed","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights State","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.dimmer_sw12_office_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":360,"wires":[["3df0f4bd.2918ec","6d952e5e.11de8"]]},{"id":"7331d072.dba89","type":"range","z":"7660a063.fd4e3","minin":"0","maxin":"10000","minout":"100","maxout":"20","action":"scale","round":true,"property":"payload","name":"Lux to Light Level Linear","x":1270,"y":380,"wires":[["93577158.8a363"]]},{"id":"301b666a.69959a","type":"server-state-changed","z":"7660a063.fd4e3","name":"LS02 Open Office Lux Sensor","server":"d7a00ba7.f288a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ls02_illuminance_openoffice","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":420,"y":560,"wires":[["3df0f4bd.2918ec"]]},{"id":"6d952e5e.11de8","type":"debug","z":"7660a063.fd4e3","name":"SW06 Kitchen Lights State","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"7617d857.bd6598","type":"time-range-switch","z":"7660a063.fd4e3","name":"","lat":"37.804363","lon":"-122.271111","startTime":"sunrise","endTime":"dusk","startOffset":0,"endOffset":0,"x":900,"y":500,"wires":[["7331d072.dba89"],[]]},{"id":"131af212.1cf88e","type":"api-current-state","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmer_sw12_office_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":460,"wires":[["3df0f4bd.2918ec"]]},{"id":"130f00ec.f1214f","type":"api-current-state","z":"7660a063.fd4e3","name":"LS02 Open Office Lux Sensor","server":"d7a00ba7.f288a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ls02_illuminance_openoffice","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":480,"wires":[["7331d072.dba89"]]},{"id":"e1657fc2.ffb4e","type":"inject","z":"7660a063.fd4e3","name":"Run Once (Initialize)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":200,"y":480,"wires":[["131af212.1cf88e"]]},{"id":"e4a6342d.b3bdd8","type":"link in","z":"7660a063.fd4e3","name":"","links":["a52a1d83.5933d"],"x":1355,"y":600,"wires":[["843dfc82.f3292"]]},{"id":"bd89bd70.d85ec","type":"link out","z":"7660a063.fd4e3","name":"","links":["e5348c8c.5c1b"],"x":1195,"y":600,"wires":[]},{"id":"843dfc82.f3292","type":"api-call-service","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights on 25","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw12_office_2","data":"{\"entity_id\":\"light.dimmer_sw12_office_2\",\"brightness_pct\":25}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1600,"y":640,"wires":[[]]},{"id":"93577158.8a363","type":"api-call-service","z":"7660a063.fd4e3","name":"SW12 Office 2 Lights Brightness","server":"d7a00ba7.f288a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmer_sw12_office_2","data":"{\"entity_id\":\"light.dimmer_sw12_office_2\",\"brightness_pct\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1590,"y":360,"wires":[["ee2bbf8c.42f1"]]},{"id":"ee2bbf8c.42f1","type":"debug","z":"7660a063.fd4e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1830,"y":360,"wires":[]},{"id":"4d95938a.99c64c","type":"inject","z":"7660a063.fd4e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1370,"y":680,"wires":[["843dfc82.f3292"]]},{"id":"5e38f5de.e3568c","type":"inject","z":"850e8c17.34d1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1630,"y":160,"wires":[["22b9f22d.f5b8de"]]}]